openapi: 3.1.0
info:
  title: Kapso Platform API
  version: 0.2.0
  description: |
    Build WhatsApp messaging into your product. Manage customers, connect phone numbers, send broadcasts, and handle conversations.

servers:
  - url: https://api.kapso.ai/platform/v1
    description: Production

security:
  - ApiKeyAuth: []

tags:
  - name: Customers
    description: Manage customer accounts
  - name: Setup Links
    description: WhatsApp onboarding via embedded signup
  - name: Phone Numbers
    description: Connect and manage WhatsApp numbers
  - name: Webhooks
    description: Subscribe to WhatsApp events
  - name: Display Names
    description: Update WhatsApp business display names
  - name: Broadcasts
    description: |
      Send template messages at scale

      **Alpha**: This API is in alpha and subject to change
  - name: Conversations
    description: Manage conversation state
  - name: Media
    description: Upload media files for WhatsApp messaging
  - name: Users
    description: Manage project team members
  - name: Inbox Embeds
    description: Create and manage embeddable inbox access links
  - name: Webhook Deliveries
    description: View webhook delivery attempts and their status
  - name: External API Logs
    description: View logs of external API calls made by the project
  - name: Log Search
    description: Search log events across API, Meta, workflow, and webhook sources
  - name: Events
    description: Emit and query project-scoped events
  - name: Provider Models
    description: List available AI provider models
  - name: WhatsApp Flows
    description: Build interactive WhatsApp Flows for surveys and forms
  - name: Contacts
    description: Manage WhatsApp contacts
  - name: Findings
    description: Detect recurring problems in conversations and investigate them with AI
  - name: Notifications
    description: Route project alerts to shared inboxes and Slack channels connected from the Kapso app
  - name: WhatsApp Funding
    description: Read Kapso funding status and recorded messaging and calling usage, and stop portfolio funding

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key

  schemas:
    NotificationEventType:
      type: object
      properties:
        key:
          type: string
          description: Stable identifier used when creating routes, e.g. `findings.detected`.
        name:
          type: string
        description:
          type: string
        category:
          type: string
          enum: [account, billing, usage, whatsapp, workflow, agent, integration, security, reports, product, findings]
        severity:
          type: string
          enum: [info, warning, error, critical]
        supported_channels:
          type: array
          items:
            type: string
            enum: [email, slack]
        data_contract:
          type: object
          description: |
            Fields the event payload may carry. Every event accepts `title`, `message`,
            `resource_name`, `details`, and `occurred_at`; `kapso_agent.*` events also carry
            `agent_run_id`.
          properties:
            required:
              type: array
              items:
                type: string
            optional:
              type: array
              items:
                type: string
        surface_path_template:
          type: string
          description: Kapso app path the notification links to, with `%<project_id>s` interpolated.

    NotificationDestination:
      type: object
      properties:
        id:
          type: string
          format: uuid
        kind:
          type: string
          enum: [shared_email, slack_channel]
        label:
          type: string
          nullable: true
          description: Display name. For `slack_channel` destinations this is the channel name.
        status:
          type: string
          enum: [pending, active, unhealthy]
          description: |
            A `shared_email` destination is created as `pending` and becomes `active` once the
            recipient opens the verification link. Slack destinations are `active` on creation
            and become `unhealthy` when the channel can no longer be posted to. Removed
            destinations are disabled and no longer listed.
        channel:
          type: string
          enum: [email, slack]
        address:
          type: string
          description: Email address, or Slack channel ID for `slack_channel` destinations.
        verified_at:
          type: string
          format: date-time
          nullable: true
        slack_channel_binding_id:
          type: string
          format: uuid
          nullable: true
          description: Kapso Agent channel binding, or `null` for channels connected only for notifications.
        workspace_name:
          type: string
          nullable: true
          description: Slack workspace name, when the destination is a Slack channel.
        user_id:
          type: string
          format: uuid
          nullable: true
          description: Always `null` for team destinations.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    NotificationRoute:
      type: object
      properties:
        id:
          type: string
          format: uuid
        destination_id:
          type: string
          format: uuid
        event_key:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    FindingsErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: string
        code:
          type: string
          enum: [findings_not_enabled, finding_not_found, investigation_unavailable]
          description: |
            Machine-readable reason. Present on both `404` cases and on an ineligible
            investigation. Absent on validation and pagination errors.

    FindingSummaryInvestigation:
      type: object
      required:
        - status
        - retryable
        - retry_reason
        - completed_at
        - error_message
        - cause_title
        - summary
      properties:
        status:
          type: string
          enum: [queued, investigating, completed, failed, timed_out]
        retryable:
          type: boolean
          description: Whether a new investigation can be started for this finding.
        retry_reason:
          type:
            - string
            - "null"
          description: Why a retry is available, when it is.
        completed_at:
          type:
            - string
            - "null"
          format: date-time
        error_message:
          type:
            - string
            - "null"
          description: Truncated to 200 characters.
        cause_title:
          type:
            - string
            - "null"
          description: Title of the top cause, truncated to 100 characters.
        summary:
          type:
            - string
            - "null"
          description: Investigation summary, truncated to 200 characters.

    FindingSummaryVerification:
      type: object
      required:
        - status
        - trigger_type
        - completed_at
      properties:
        status:
          type: string
          enum: [monitoring, resolved, not_improved, dismissed]
        trigger_type:
          type: string
          enum: [workflow_version, regression, manual]
        completed_at:
          type:
            - string
            - "null"
          format: date-time

    FindingSummary:
      type: object
      required:
        - id
        - signal_name
        - direction
        - status
        - affected_count
        - affected_unit
        - last_observed_at
        - related_findings_count
        - investigation
        - verification
      properties:
        id:
          type: string
          format: uuid
        signal_name:
          type: string
          description: Project event name behind the finding.
          example: conversation.user_frustrated
        direction:
          type: string
          enum: [rising, falling, recurring]
        status:
          type: string
          enum: [candidate, open]
          description: |
            Listing only returns `candidate` and `open` findings. Quiet findings are
            reachable through `GET /findings/{finding_id}`.
        affected_count:
          type: integer
        affected_unit:
          type: string
          enum: [conversations, events]
        last_observed_at:
          type: string
          format: date-time
        related_findings_count:
          type: integer
          description: Number of other findings grouped with this one.
        investigation:
          oneOf:
            - $ref: "#/components/schemas/FindingSummaryInvestigation"
            - type: "null"
        verification:
          oneOf:
            - $ref: "#/components/schemas/FindingSummaryVerification"
            - type: "null"

    FindingListResponse:
      type: object
      required:
        - data
        - paging
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/FindingSummary"
        paging:
          type: object
          required:
            - cursors
            - next
            - previous
          properties:
            cursors:
              type: object
              required:
                - before
                - after
              properties:
                before:
                  type:
                    - string
                    - "null"
                  description: Opaque cursor (Base64 encoded) for the first item on this page.
                after:
                  type:
                    - string
                    - "null"
                  description: Opaque cursor (Base64 encoded) for the last item on this page.
            next:
              type:
                - string
                - "null"
              description: |
                Opaque cursor, not a URL. Pass it back as `after` to fetch the next page.
                `null` when this is the last page.
            previous:
              type:
                - string
                - "null"
              description: |
                Opaque cursor, not a URL. Pass it back as `before` to fetch the previous page.
                `null` when this is the first page.

    FindingEvidenceReference:
      type: object
      required:
        - source_type
        - source_id
        - observation
        - occurred_at
      properties:
        source_type:
          type: string
        source_id:
          type:
            - string
            - "null"
        observation:
          type:
            - string
            - "null"
        occurred_at:
          type:
            - string
            - "null"
          format: date-time

    FindingCause:
      type: object
      required:
        - title
        - explanation
        - confidence
        - evidence_references
      properties:
        title:
          type: string
        explanation:
          type: string
        confidence:
          type: string
          enum: [low, medium, high]
        evidence_references:
          type: array
          items:
            $ref: "#/components/schemas/FindingEvidenceReference"

    FindingSuggestedFix:
      type: object
      required:
        - title
        - priority
        - category
        - change
        - verification
        - target
        - evidence_references
      properties:
        title:
          type: string
        priority:
          type: string
          enum: [primary, secondary]
          description: Exactly one suggested fix per investigation is `primary`.
        category:
          type: string
          enum: [workflow, code, evaluation, configuration]
          description: What kind of thing has to change.
        change:
          type: string
          description: What to change.
        verification:
          type: string
          description: How to verify the fix.
        target:
          type: object
          required:
            - name
            - location
          properties:
            name:
              type:
                - string
                - "null"
            location:
              type:
                - string
                - "null"
        evidence_references:
          type: array
          items:
            $ref: "#/components/schemas/FindingEvidenceReference"

    FindingInvestigationResult:
      type: object
      required:
        - summary
        - alternative_explanations
        - coverage_limitations
        - affected_components
        - causes
        - suggested_fixes
      properties:
        summary:
          type:
            - string
            - "null"
        alternative_explanations:
          type:
            - array
            - "null"
          items:
            type: string
        coverage_limitations:
          type:
            - array
            - "null"
          items:
            type: string
        affected_components:
          type:
            - array
            - "null"
          items:
            type: string
        causes:
          type: array
          items:
            $ref: "#/components/schemas/FindingCause"
        suggested_fixes:
          type: array
          items:
            $ref: "#/components/schemas/FindingSuggestedFix"
        change_since_previous:
          type: object
          description: |
            Present when the investigation was a retry that only looked at evidence newer than
            the previous investigation. Describes how the conclusion changed.
          required:
            - explanation
          properties:
            status:
              type: string
              enum:
                - not_applicable
                - unchanged
                - narrowed
                - revised
                - replaced
                - insufficient_evidence
            explanation:
              type: string
              maxLength: 300

    FindingInvestigation:
      type: object
      required:
        - id
        - status
        - retryable
        - retry_reason
        - error_message
        - created_at
        - completed_at
        - workflow_id
        - workflow_name
        - result
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          enum: [queued, investigating, completed, failed, timed_out]
        retryable:
          type: boolean
        retry_reason:
          type:
            - string
            - "null"
        error_message:
          type:
            - string
            - "null"
        created_at:
          type: string
          format: date-time
        completed_at:
          type:
            - string
            - "null"
          format: date-time
        workflow_id:
          type:
            - string
            - "null"
          format: uuid
        workflow_name:
          type:
            - string
            - "null"
        result:
          $ref: "#/components/schemas/FindingInvestigationResult"

    FindingVerification:
      type: object
      required:
        - id
        - status
        - trigger_type
        - from_workflow_version
        - to_workflow_version
        - started_at
        - completed_at
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          enum: [monitoring, resolved, not_improved, dismissed]
        trigger_type:
          type: string
          enum: [workflow_version, regression, manual]
        from_workflow_version:
          type:
            - integer
            - "null"
        to_workflow_version:
          type:
            - integer
            - "null"
        started_at:
          type:
            - string
            - "null"
          format: date-time
        completed_at:
          type:
            - string
            - "null"
          format: date-time

    RelatedFinding:
      type: object
      required:
        - id
        - source_type
        - source_key
        - signal_name
        - direction
        - affected_count
        - baseline_count
        - current_rate
        - baseline_rate
        - window_start_at
        - window_end_at
        - affected_unit
        - evidence_revision
      properties:
        id:
          type: string
          format: uuid
        source_type:
          type: string
          enum: [project_event]
        source_key:
          type: string
        signal_name:
          type: string
        direction:
          type: string
          enum: [rising, falling, recurring]
        affected_count:
          type: integer
        baseline_count:
          type:
            - integer
            - "null"
        current_rate:
          type:
            - number
            - "null"
          description: Share of conversations in the current window, from 0 to 1.
        baseline_rate:
          type:
            - number
            - "null"
        window_start_at:
          type: string
          format: date-time
        window_end_at:
          type: string
          format: date-time
        affected_unit:
          type: string
          enum: [conversations, events]
        evidence_revision:
          type: integer

    FindingDetail:
      type: object
      required:
        - id
        - source_type
        - source_key
        - signal_name
        - direction
        - status
        - affected_count
        - baseline_count
        - current_rate
        - baseline_rate
        - evidence_revision
        - last_observed_at
        - window_start_at
        - window_end_at
        - last_qualified_at
        - affected_unit
        - workflow_id
        - workflow_name
        - verification
        - related_findings
        - investigation
      properties:
        id:
          type: string
          format: uuid
        source_type:
          type: string
          enum: [project_event]
        source_key:
          type: string
        signal_name:
          type: string
        direction:
          type: string
          enum: [rising, falling, recurring]
        status:
          type: string
          enum: [candidate, open, quiet]
        affected_count:
          type: integer
        baseline_count:
          type:
            - integer
            - "null"
        current_rate:
          type:
            - number
            - "null"
          description: Share of conversations in the current window, from 0 to 1.
        baseline_rate:
          type:
            - number
            - "null"
        evidence_revision:
          type: integer
          description: Increments when new qualifying evidence arrives.
        last_observed_at:
          type: string
          format: date-time
        window_start_at:
          type: string
          format: date-time
        window_end_at:
          type: string
          format: date-time
        last_qualified_at:
          type: string
          format: date-time
        affected_unit:
          type: string
          enum: [conversations, events]
        workflow_id:
          type:
            - string
            - "null"
          format: uuid
        workflow_name:
          type:
            - string
            - "null"
        verification:
          oneOf:
            - $ref: "#/components/schemas/FindingVerification"
            - type: "null"
        related_findings:
          type: array
          items:
            $ref: "#/components/schemas/RelatedFinding"
        investigation:
          oneOf:
            - $ref: "#/components/schemas/FindingInvestigation"
            - type: "null"

    FindingDetailResponse:
      type: object
      required:
        - data
      properties:
        data:
          $ref: "#/components/schemas/FindingDetail"

    FindingEvidenceFinding:
      type: object
      required:
        - id
        - source_type
        - source_key
        - signal_name
        - direction
        - status
        - window_start_at
        - window_end_at
        - affected_count
        - baseline_count
        - current_rate
        - baseline_rate
        - last_observed_at
      properties:
        id:
          type: string
          format: uuid
        source_type:
          type: string
          enum: [project_event]
        source_key:
          type: string
        signal_name:
          type: string
        direction:
          type: string
          enum: [rising, falling, recurring]
        status:
          type: string
          enum: [candidate, open, quiet]
        window_start_at:
          type: string
          format: date-time
        window_end_at:
          type: string
          format: date-time
        affected_count:
          type: integer
        baseline_count:
          type:
            - integer
            - "null"
        current_rate:
          type:
            - number
            - "null"
        baseline_rate:
          type:
            - number
            - "null"
        last_observed_at:
          type: string
          format: date-time

    FindingEvidenceEventDefinition:
      type: object
      required:
        - id
        - name
        - display_name
        - description
        - property_schema
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        display_name:
          type:
            - string
            - "null"
        description:
          type:
            - string
            - "null"
        property_schema:
          type:
            - object
            - "null"
          additionalProperties: true

    FindingEvidenceDailyHistoryEntry:
      type: object
      required:
        - bucket_on
        - event_count
        - conversation_count
      properties:
        bucket_on:
          type: string
          format: date
        event_count:
          type: integer
        conversation_count:
          type: integer

    FindingEvidenceSourceEvent:
      type: object
      required:
        - id
        - name
        - observed_at
        - occurred_at
        - conversation_id
        - properties
        - whatsapp_config
        - source_workflow
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        observed_at:
          type: string
          format: date-time
          description: When Kapso recorded the evidence. Used to order retry deltas.
        occurred_at:
          type: string
          format: date-time
        conversation_id:
          type:
            - string
            - "null"
          format: uuid
        properties:
          type: object
          description: Flat event properties object.
          additionalProperties:
            oneOf:
              - type: string
              - type: number
              - type: boolean
              - type: "null"
        whatsapp_config:
          type:
            - object
            - "null"
          properties:
            id:
              type: string
              format: uuid
            kind:
              type: string
            name:
              type:
                - string
                - "null"
            business_phone_number:
              type:
                - string
                - "null"
            meta_phone_number_id:
              type:
                - string
                - "null"
        source_workflow:
          type:
            - object
            - "null"
          properties:
            workflow_id:
              type:
                - string
                - "null"
              format: uuid
            execution_id:
              type:
                - string
                - "null"
              format: uuid
            snapshot_id:
              type:
                - string
                - "null"
              format: uuid
            snapshot_version:
              type:
                - integer
                - "null"
            test_mode:
              type:
                - boolean
                - "null"

    FindingEvidenceCoOccurringEvent:
      type: object
      required:
        - name
        - event_count
      properties:
        name:
          type: string
        event_count:
          type: integer
        observed_at:
          type: string
          format: date-time
          description: Only present on retry deltas.

    FindingEvidenceDeltaItem:
      type: object
      description: One piece of evidence recorded after the previous investigation ran.
      required:
        - id
        - observed_at
        - source_type
        - new_since_previous
      properties:
        id:
          type: string
          format: uuid
        observed_at:
          type: string
          format: date-time
        source_type:
          type: string
          enum:
            - project_event
            - conversation
        new_since_previous:
          type: boolean

    FindingEvidenceSummary:
      type: object
      required:
        - cutoff
        - new_item_count
      properties:
        cutoff:
          type:
            - string
            - "null"
          format: date-time
          description: Evidence recorded at or before this time was already investigated.
        new_item_count:
          type: integer

    FindingEvidenceCoverage:
      type: object
      description: How much of the underlying evidence this response contains.
      required:
        - source_event_count
        - source_events_returned
        - affected_conversations_returned
        - comparison_conversations_returned
        - source_event_limit
        - affected_conversation_limit
        - comparison_conversation_limit
        - note
      properties:
        source_event_count:
          type: integer
        source_events_returned:
          type: integer
        affected_conversations_returned:
          type: integer
        comparison_conversations_returned:
          type: integer
        source_event_limit:
          type: integer
        affected_conversation_limit:
          type: integer
        comparison_conversation_limit:
          type: integer
        note:
          type:
            - string
            - "null"
        cutoff:
          type:
            - string
            - "null"
          format: date-time
          description: |
            Only present on retry deltas. Evidence recorded at or before this time was already
            covered by the previous investigation.
        freshness:
          type: string
          description: Only present on retry deltas. How the cutoff is applied per source type.

    FindingEvidenceGroup:
      type: object
      description: Evidence for one finding grouped with the requested one.
      required:
        - finding
        - event_definition
        - daily_history
        - source_events
        - affected_conversation_ids
        - co_occurring_events
      properties:
        finding:
          $ref: "#/components/schemas/FindingEvidenceFinding"
        event_definition:
          oneOf:
            - $ref: "#/components/schemas/FindingEvidenceEventDefinition"
            - type: "null"
        daily_history:
          type: array
          items:
            $ref: "#/components/schemas/FindingEvidenceDailyHistoryEntry"
        source_events:
          type: array
          items:
            $ref: "#/components/schemas/FindingEvidenceSourceEvent"
        affected_conversation_ids:
          type: array
          items:
            type: string
            format: uuid
        co_occurring_events:
          type: array
          items:
            $ref: "#/components/schemas/FindingEvidenceCoOccurringEvent"
        new_evidence:
          type: array
          description: Only present on retry deltas.
          items:
            $ref: "#/components/schemas/FindingEvidenceDeltaItem"
        historical_context:
          type: array
          description: Only present on retry deltas. Currently always empty.
          items: {}
        evidence_summary:
          $ref: "#/components/schemas/FindingEvidenceSummary"

    FindingEvidence:
      type: object
      required:
        - finding
        - event_definition
        - coverage
        - workflow
        - daily_history
        - source_events
        - affected_conversation_ids
        - comparison_conversation_ids
        - co_occurring_events
        - grouped_findings
        - evidence_by_finding
      properties:
        finding:
          $ref: "#/components/schemas/FindingEvidenceFinding"
        event_definition:
          oneOf:
            - $ref: "#/components/schemas/FindingEvidenceEventDefinition"
            - type: "null"
        coverage:
          $ref: "#/components/schemas/FindingEvidenceCoverage"
        workflow:
          type:
            - object
            - "null"
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
        daily_history:
          type: array
          items:
            $ref: "#/components/schemas/FindingEvidenceDailyHistoryEntry"
        source_events:
          type: array
          items:
            $ref: "#/components/schemas/FindingEvidenceSourceEvent"
        affected_conversation_ids:
          type: array
          items:
            type: string
            format: uuid
        comparison_conversation_ids:
          type: array
          description: Conversations without the signal, for comparison.
          items:
            type: string
            format: uuid
        co_occurring_events:
          type: array
          items:
            $ref: "#/components/schemas/FindingEvidenceCoOccurringEvent"
        grouped_findings:
          type: array
          items:
            $ref: "#/components/schemas/FindingEvidenceFinding"
        evidence_by_finding:
          type: array
          items:
            $ref: "#/components/schemas/FindingEvidenceGroup"
        new_evidence:
          type: array
          description: Only present on retry deltas.
          items:
            $ref: "#/components/schemas/FindingEvidenceDeltaItem"
        historical_context:
          type: array
          description: Only present on retry deltas. Currently always empty.
          items: {}
        evidence_summary:
          $ref: "#/components/schemas/FindingEvidenceSummary"

    FindingEvidenceUnavailable:
      type: object
      description: |
        Returned with `200` when evidence cannot be read for this finding's source.
        Tell it apart from `FindingEvidence` by the presence of `error`.
      required:
        - error
        - source_type
        - source_key
      properties:
        error:
          type: string
        source_type:
          type:
            - string
            - "null"
        source_key:
          type:
            - string
            - "null"

    FindingEvidenceResponse:
      type: object
      required:
        - data
      properties:
        data:
          oneOf:
            - $ref: "#/components/schemas/FindingEvidence"
            - $ref: "#/components/schemas/FindingEvidenceUnavailable"

    FindingInvestigationAcceptedResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          required:
            - finding_id
            - investigation_id
            - status
          properties:
            finding_id:
              type: string
              format: uuid
            investigation_id:
              type: string
              format: uuid
            status:
              type: string
              enum: [queued, investigating, completed, failed, timed_out]

    FindingVerificationMutationResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          required:
            - finding_id
            - verification_id
            - status
          properties:
            finding_id:
              type: string
              format: uuid
            verification_id:
              type: string
              format: uuid
            status:
              type: string
              enum: [monitoring, resolved, not_improved, dismissed]

    WhatsappContact:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique contact ID
          example: "123e4567-e89b-12d3-a456-426614174000"
        wa_id:
          type:
            - string
            - "null"
          description: WhatsApp ID (E.164 phone number). Can be null when Meta only
            provides BSUID-based identity.
          example: "15551234567"
        business_scoped_user_id:
          type:
            - string
            - "null"
          description: WhatsApp business-scoped user ID
          example: "US.13491208655302741918"
        parent_business_scoped_user_id:
          type:
            - string
            - "null"
          description: Parent business-scoped user ID when provided by Meta
          example: "US.ENT.506847293015824"
        username:
          type:
            - string
            - "null"
          description: WhatsApp username when available
          example: "@testusername"
        profile_name:
          type: string
          description: Name as shown on WhatsApp
          example: "John Doe"
        display_name:
          type: string
          nullable: true
          description: Custom display name set by your app
          example: "John (VIP)"
        customer_id:
          type: string
          format: uuid
          nullable: true
          description: Associated customer ID
        metadata:
          type: object
          nullable: true
          additionalProperties: true
          description: Custom key-value data
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    WhatsappContactResponse:
      type: object
      required:
        - data
      properties:
        data:
          $ref: "#/components/schemas/WhatsappContact"

    WhatsappContactListResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/WhatsappContact"
        meta:
          $ref: "#/components/schemas/PaginationMeta"
        paging:
          $ref: "#/components/schemas/Paging"

    WhatsappContactMarketingPreference:
      type: object
      description: A contact's marketing message preference on one of your
        WhatsApp numbers. Recorded when the contact stops or resumes marketing
        messages inside WhatsApp. Read-only — only the contact can change it.
      properties:
        id:
          type: string
          description: Meta phone number ID of the number the preference applies to
          example: "123456789012345"
        phone_number_id:
          type: string
          description: Meta phone number ID (same as `id`)
          example: "123456789012345"
        status:
          type: string
          enum:
            - stopped
            - resumed
          description: Current preference. `stopped` blocks marketing template
            sends to this contact on this number.
        detail:
          type:
            - string
            - "null"
          description: Free-text reason reported by Meta
          example: User requested to stop marketing messages
        source:
          type: string
          description: >-
            How the preference was captured. `meta_webhook` is Meta's
            `user_preferences` webhook; `meta_delivery_error` and
            `meta_synchronous_error` mean the stop was derived from a Meta
            `131050` send failure.
          enum:
            - meta_webhook
            - meta_delivery_error
            - meta_synchronous_error
          example: meta_webhook
        marketing_allowed:
          type: boolean
          description: Whether marketing template sends are allowed. `false` when
            `status` is `stopped`.
        config_display_name:
          type:
            - string
            - "null"
          description: Display name of the WhatsApp number
        last_event_at:
          type: string
          format: date-time
          description: Timestamp WhatsApp reported for the latest preference change
        whatsapp_contact_id:
          type: string
          format: uuid
        internal_id:
          type: string
          format: uuid
          description: Internal ID of the preference record
        whatsapp_config_id:
          type: string
          format: uuid
          description: Internal ID of the WhatsApp number's configuration
        whatsapp_config_internal_id:
          type: string
          format: uuid
          description: Same as `whatsapp_config_id`
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    WhatsappContactMarketingPreferenceResponse:
      type: object
      required:
        - data
      properties:
        data:
          $ref: "#/components/schemas/WhatsappContactMarketingPreference"

    WhatsappContactMarketingPreferenceListResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/WhatsappContactMarketingPreference"

    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: string

    InboxEmbed:
      type: object
      required:
        - id
        - scope_type
        - status
        - allowed_origins
        - default_mode
        - language
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
        name:
          type:
            - string
            - "null"
        scope_type:
          type: string
          description: Public embed scope
          enum:
            - project
            - customer
            - phone_number
        scope_id:
          type:
            - string
            - "null"
          description: Customer UUID for `customer`, WhatsApp `phone_number_id` for
            `phone_number`, null for `project`
        scope_name:
          type:
            - string
            - "null"
          description: Human-readable customer or phone number label when available
        assigned_user_id:
          type:
            - string
            - "null"
          format: uuid
          description: Limits visible conversations to the active assignee
        assigned_user_name:
          type:
            - string
            - "null"
        status:
          type: string
          enum:
            - active
            - revoked
        allowed_origins:
          type: array
          description: Origins allowed to embed the inbox. Empty means any origin.
          items:
            type: string
          example:
            - https://app.example.com
        default_mode:
          type: string
          enum:
            - system
            - light
            - dark
        language:
          type: string
          enum:
            - en
            - es
          description: UI language for the embedded inbox.
          default: en
        expires_at:
          type:
            - string
            - "null"
          format: date-time
        last_used_at:
          type:
            - string
            - "null"
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    InboxEmbedCreated:
      allOf:
        - $ref: "#/components/schemas/InboxEmbed"
        - type: object
          required:
            - token
            - embed_url
          properties:
            token:
              type: string
              description: Raw inbox token. Returned only when the embed is created.
            embed_url:
              type: string
              format: uri
              description: Iframe URL. Returned only when the embed is created.

    InboxEmbedCreateRequest:
      type: object
      required:
        - inbox_embed
      properties:
        inbox_embed:
          type: object
          required:
            - scope_type
          properties:
            name:
              type:
                - string
                - "null"
            scope_type:
              type: string
              enum:
                - project
                - customer
                - phone_number
            scope_id:
              type:
                - string
                - "null"
              description: Required for `customer` and `phone_number`; must be blank for
                `project`
            assigned_user_id:
              type:
                - string
                - "null"
              format: uuid
            allowed_origins:
              type: array
              items:
                type: string
            default_mode:
              type: string
              enum:
                - system
                - light
                - dark
              default: system
            language:
              type: string
              enum:
                - en
                - es
              description: UI language for the embedded inbox.
              default: en
            expires_at:
              type:
                - string
                - "null"
              format: date-time

    InboxEmbedUpdateRequest:
      type: object
      required:
        - inbox_embed
      properties:
        inbox_embed:
          type: object
          properties:
            name:
              type:
                - string
                - "null"
            assigned_user_id:
              type:
                - string
                - "null"
              format: uuid
            allowed_origins:
              type: array
              items:
                type: string
            default_mode:
              type: string
              enum:
                - system
                - light
                - dark
            language:
              type: string
              enum:
                - en
                - es
              description: UI language for the embedded inbox.
            expires_at:
              type:
                - string
                - "null"
              format: date-time

    InboxEmbedResponse:
      type: object
      required:
        - data
      properties:
        data:
          $ref: "#/components/schemas/InboxEmbed"

    InboxEmbedCreatedResponse:
      type: object
      required:
        - data
      properties:
        data:
          $ref: "#/components/schemas/InboxEmbedCreated"

    InboxEmbedListResponse:
      type: object
      required:
        - data
        - meta
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/InboxEmbed"
        meta:
          $ref: "#/components/schemas/PaginationMeta"

    PaginationMeta:
      type: object
      required:
        - page
        - per_page
        - total_pages
        - total_count
      properties:
        page:
          type: integer
          minimum: 1
        per_page:
          type: integer
          minimum: 1
        total_pages:
          type: integer
          minimum: 0
        total_count:
          type: integer
          minimum: 0

    PaginationCursor:
      type: object
      properties:
        before:
          type: string
          description: Cursor for previous page (Base64 encoded)
        after:
          type: string
          description: Cursor for next page (Base64 encoded)

    Paging:
      type: object
      properties:
        cursors:
          $ref: "#/components/schemas/PaginationCursor"
        next:
          type: string
          nullable: true
        previous:
          type: string
          nullable: true

    Customer:
      type: object
      required:
        - id
        - name
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        external_customer_id:
          type:
            - string
            - "null"
          description: Your internal customer ID
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    CustomerCreateRequest:
      type: object
      required:
        - customer
      properties:
        customer:
          type: object
          required:
            - name
          properties:
            name:
              type: string
            external_customer_id:
              type:
                - string
                - "null"

    CustomerUpdateRequest:
      type: object
      required:
        - customer
      properties:
        customer:
          type: object
          properties:
            name:
              type: string
            external_customer_id:
              type:
                - string
                - "null"

    CustomerResponse:
      type: object
      required:
        - data
      properties:
        data:
          $ref: "#/components/schemas/Customer"

    CustomerListResponse:
      type: object
      required:
        - data
        - meta
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Customer"
        meta:
          $ref: "#/components/schemas/PaginationMeta"

    PhoneNumberReference:
      type: object
      required:
        - id
        - phone_number
        - status
        - country_iso
        - country_dial_code
      properties:
        id:
          type: string
          format: uuid
        phone_number:
          type: string
        status:
          type: string
        area_code:
          type:
            - string
            - "null"
        country_iso:
          type: string
        country_dial_code:
          type: string
        display_number:
          type:
            - string
            - "null"

    SetupLink:
      type: object
      required:
        - id
        - status
        - created_at
        - url
        - meta_billing_mode
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          enum:
            - active
            - used
            - expired
            - revoked
        created_at:
          type: string
          format: date-time
        expires_at:
          type:
            - string
            - "null"
          format: date-time
          description: Expires 30 days after creation by default
        url:
          type: string
          format: uri
        success_redirect_url:
          type:
            - string
            - "null"
          format: uri
        failure_redirect_url:
          type:
            - string
            - "null"
          format: uri
        allowed_origins:
          type: array
          description: HTTPS browser origins allowed to use this setup link with `@kapso/sdk`.
          items:
            type: string
            format: uri
        allowed_connection_types:
          type: array
          description: |
            `coexistence` - Use with WhatsApp Business App (5 msg/sec)
            `dedicated` - API-only through Kapso (up to 1000 msg/sec)

            Provide one value to auto-select for customer
          items:
            type: string
            enum:
              - coexistence
              - dedicated
          default:
            - coexistence
            - dedicated
        meta_billing_mode:
          type: string
          description: |
            Policy selected when the setup link was created.

            `customer_managed` uses the WABA's Meta payment method. `partner_managed` requests Kapso billing for the entire WABA after Meta returns the connected account. A custom Tech Provider app requires an active Kapso Multi-partner Solution.
          enum:
            - customer_managed
            - partner_managed
          default: customer_managed
        theme_config:
          type:
            - object
            - "null"
          description: Hex colors for hosted onboarding page
          properties:
            primary_color:
              type: string
              pattern: ^#[0-9A-Fa-f]{6}$
              description: Primary action buttons (default #22c55e)
            primary_foreground_color:
              type: string
              pattern: ^#[0-9A-Fa-f]{6}$
              description: Text on primary buttons (default #ffffff)
            background_color:
              type: string
              pattern: ^#[0-9A-Fa-f]{6}$
              description: Page background (default #ffffff)
            text_color:
              type: string
              pattern: ^#[0-9A-Fa-f]{6}$
              description: Body text (default #0f172a)
            muted_text_color:
              type: string
              pattern: ^#[0-9A-Fa-f]{6}$
              description: Secondary text (default #64748b)
            card_color:
              type: string
              pattern: ^#[0-9A-Fa-f]{6}$
              description: Card backgrounds (defaults to background_color)
            muted_color:
              type: string
              pattern: ^#[0-9A-Fa-f]{6}$
              description: Disabled elements (default #f1f5f9)
            border_color:
              type: string
              pattern: ^#[0-9A-Fa-f]{6}$
              description: Borders and dividers (default #e2e8f0)
            secondary_color:
              type: string
              pattern: ^#[0-9A-Fa-f]{6}$
              description: Secondary buttons (default #f1f5f9)
            secondary_foreground_color:
              type: string
              pattern: ^#[0-9A-Fa-f]{6}$
              description: Text on secondary buttons (default #0f172a)
            destructive_color:
              type: string
              pattern: ^#[0-9A-Fa-f]{6}$
              description: Error/danger buttons (default #ef4444)
            destructive_foreground_color:
              type: string
              pattern: ^#[0-9A-Fa-f]{6}$
              description: Text on destructive buttons (default #fef2f2)
        provision_phone_number:
          type:
            - boolean
            - "null"
          description: Auto-provision number during onboarding
        phone_number_area_code:
          type:
            - string
            - "null"
          description: US area code for provisioned numbers
        phone_number_country_isos:
          type: array
          description: Allowed countries for provisioning (defaults to ["US"])
          items:
            type: string
            pattern: ^[A-Z]{2}$
        reconnect_phone_number:
          type:
            - string
            - "null"
          description: |
            Normalized E.164 digits of the customer's existing WhatsApp number this link is targeting for reconnect.

            Set this on create to scope the setup flow to a specific existing WhatsApp config for the same customer (token refresh / re-auth). When present, `provision_phone_number` is forced to `false` and `allowed_connection_types` is locked to match the existing config (`["dedicated"]` or `["coexistence"]`).
        language:
          type:
            - string
            - "null"
          description: ISO 639-1 language code for setup link UI (en, es, pt, hi, id, ar).
            Defaults to user's browser language.
          enum:
            - en
            - es
            - pt
            - hi
            - id
            - ar
            - null
        whatsapp_setup_status:
          type: string
          enum:
            - pending
            - processing
            - completed
            - failed
        whatsapp_setup_error:
          type:
            - string
            - "null"
        provisioned_phone_number:
          allOf:
            - $ref: "#/components/schemas/PhoneNumberReference"

    SetupLinkCreateRequest:
      type: object
      required:
        - setup_link
      properties:
        setup_link:
          type: object
          properties:
            success_redirect_url:
              type:
                - string
                - "null"
              format: uri
            failure_redirect_url:
              type:
                - string
                - "null"
              format: uri
            allowed_origins:
              type: array
              description: HTTPS browser origins allowed to use the setup token with `@kapso/sdk`.
              items:
                type: string
                format: uri
            provision_phone_number:
              type: boolean
              description: Requires your own telephony credentials on the project for non-US numbers
            phone_number_area_code:
              type:
                - string
                - "null"
              description: US only
            allowed_connection_types:
              type: array
              description: Single value auto-selects for customer
              items:
                type: string
                enum:
                  - coexistence
                  - dedicated
            meta_billing_mode:
              type: string
              description: |
                Meta billing policy for the WABA. This value cannot be changed after the link is created.

                `partner_managed` works with Kapso's default Meta app or a Tech Provider app covered by an active Kapso Multi-partner Solution. Final WABA eligibility is checked after connection; setup can complete even when billing attachment needs attention.
              enum:
                - customer_managed
                - partner_managed
              default: customer_managed
            theme_config:
              type:
                - object
                - "null"
              properties:
                primary_color:
                  type: string
                  pattern: ^#[0-9A-Fa-f]{6}$
                primary_foreground_color:
                  type: string
                  pattern: ^#[0-9A-Fa-f]{6}$
                background_color:
                  type: string
                  pattern: ^#[0-9A-Fa-f]{6}$
                text_color:
                  type: string
                  pattern: ^#[0-9A-Fa-f]{6}$
                muted_text_color:
                  type: string
                  pattern: ^#[0-9A-Fa-f]{6}$
                card_color:
                  type: string
                  pattern: ^#[0-9A-Fa-f]{6}$
                muted_color:
                  type: string
                  pattern: ^#[0-9A-Fa-f]{6}$
                border_color:
                  type: string
                  pattern: ^#[0-9A-Fa-f]{6}$
                secondary_color:
                  type: string
                  pattern: ^#[0-9A-Fa-f]{6}$
                secondary_foreground_color:
                  type: string
                  pattern: ^#[0-9A-Fa-f]{6}$
                destructive_color:
                  type: string
                  pattern: ^#[0-9A-Fa-f]{6}$
                destructive_foreground_color:
                  type: string
                  pattern: ^#[0-9A-Fa-f]{6}$
            phone_number_country_isos:
              type: array
              items:
                type: string
                pattern: ^[A-Z]{2}$
            reconnect_phone_number:
              type:
                - string
                - "null"
              description: |
                Existing WhatsApp number for this customer to reconnect. Phone numbers are normalized to E.164 digits.

                When set:
                - The number must match an existing production WhatsApp config on the customer
                - `provision_phone_number` must be `false` (or omitted)
                - `allowed_connection_types` must match the existing config (`["dedicated"]` or `["coexistence"]`)
            language:
              type:
                - string
                - "null"
              description: ISO 639-1 language code for setup link UI
              enum:
                - en
                - es
                - pt
                - hi
                - id
                - ar
                - null

    SetupLinkUpdateRequest:
      type: object
      required:
        - setup_link
      properties:
        setup_link:
          type: object
          properties:
            success_redirect_url:
              type:
                - string
                - "null"
              format: uri
            failure_redirect_url:
              type:
                - string
                - "null"
              format: uri
            allowed_origins:
              type: array
              description: HTTPS browser origins allowed to use the setup token with `@kapso/sdk`.
              items:
                type: string
                format: uri
            provision_phone_number:
              type: boolean
            phone_number_area_code:
              type:
                - string
                - "null"
            expires_at:
              type:
                - string
                - "null"
              format: date-time
            status:
              type: string
              enum:
                - active
                - used
                - expired
                - revoked
              description: Cannot change to `used`
            allowed_connection_types:
              type: array
              items:
                type: string
                enum:
                  - coexistence
                  - dedicated
            theme_config:
              type:
                - object
                - "null"
              properties:
                primary_color:
                  type: string
                  pattern: ^#[0-9A-Fa-f]{6}$
                primary_foreground_color:
                  type: string
                  pattern: ^#[0-9A-Fa-f]{6}$
                background_color:
                  type: string
                  pattern: ^#[0-9A-Fa-f]{6}$
                text_color:
                  type: string
                  pattern: ^#[0-9A-Fa-f]{6}$
                muted_text_color:
                  type: string
                  pattern: ^#[0-9A-Fa-f]{6}$
                card_color:
                  type: string
                  pattern: ^#[0-9A-Fa-f]{6}$
                muted_color:
                  type: string
                  pattern: ^#[0-9A-Fa-f]{6}$
                border_color:
                  type: string
                  pattern: ^#[0-9A-Fa-f]{6}$
                secondary_color:
                  type: string
                  pattern: ^#[0-9A-Fa-f]{6}$
                secondary_foreground_color:
                  type: string
                  pattern: ^#[0-9A-Fa-f]{6}$
                destructive_color:
                  type: string
                  pattern: ^#[0-9A-Fa-f]{6}$
                destructive_foreground_color:
                  type: string
                  pattern: ^#[0-9A-Fa-f]{6}$
            phone_number_country_isos:
              type: array
              items:
                type: string
                pattern: ^[A-Z]{2}$
            language:
              type:
                - string
                - "null"
              description: ISO 639-1 language code for setup link UI
              enum:
                - en
                - es
                - pt
                - hi
                - id
                - ar
                - null

    SetupLinkResponse:
      type: object
      required:
        - data
      properties:
        data:
          $ref: "#/components/schemas/SetupLink"

    SetupLinkCreated:
      allOf:
        - $ref: "#/components/schemas/SetupLink"
        - type: object
          required:
            - token
          properties:
            token:
              type: string
              description: Opaque browser token returned only when the setup link is created. Pass it to `@kapso/sdk`; never expose your Kapso API key.

    SetupLinkCreateResponse:
      type: object
      required:
        - data
      properties:
        data:
          $ref: "#/components/schemas/SetupLinkCreated"

    SetupLinkListResponse:
      type: object
      required:
        - data
        - meta
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/SetupLink"
        meta:
          $ref: "#/components/schemas/PaginationMeta"

    WhatsappPhoneNumber:
      type: object
      required:
        - id
        - internal_id
        - phone_number_id
        - name
        - created_at
        - updated_at
      properties:
        id:
          type: string
          description: Meta phone number ID
        internal_id:
          type: string
          format: uuid
          description: Kapso configuration ID
        phone_number_id:
          type: string
          description: Meta phone number ID
        name:
          type: string
          description: Label for this number
        business_account_id:
          type:
            - string
            - "null"
          description: WhatsApp Business Account ID
        is_coexistence:
          type:
            - boolean
            - "null"
          description: Using with WhatsApp Business App
        inbound_processing_enabled:
          type: boolean
          description: Process incoming messages
        calls_enabled:
          type: boolean
          description: Handle voice calls
        webhook_verified_at:
          type:
            - string
            - "null"
          format: date-time
          description: When Meta confirmed webhook
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        customer_id:
          type:
            - string
            - "null"
          format: uuid
        display_name:
          type:
            - string
            - "null"
          description: Customer-facing display name
        display_phone_number:
          type:
            - string
            - "null"
          description: Formatted number from Meta
        display_phone_number_normalized:
          type:
            - string
            - "null"
          description: Digits only
        verified_name:
          type:
            - string
            - "null"
          description: Meta-verified business name
        quality_rating:
          type:
            - string
            - "null"
          description: GREEN, YELLOW, or RED
        code_verification_status:
          type:
            - string
            - "null"
        name_status:
          type:
            - string
            - "null"
          description: Display name review status
        status:
          type:
            - string
            - "null"
          description: Connection status (e.g., CONNECTED)
        throughput_tier:
          type:
            - string
            - "null"
          description: Message rate limit tier
        whatsapp_business_manager_messaging_limit:
          anyOf:
            - type: integer
            - type: string
            - type: "null"
        is_official_business_account:
          type:
            - boolean
            - "null"
          description: Green checkmark verified
        is_pin_enabled:
          type:
            - boolean
            - "null"
          description: Two-factor PIN enabled

    WhatsappPhoneNumberCreateRequest:
      type: object
      required:
        - whatsapp_phone_number
      properties:
        whatsapp_phone_number:
          type: object
          required:
            - name
            - phone_number_id
            - business_account_id
            - access_token
          properties:
            name:
              type: string
            kind:
              type: string
              enum:
                - production
                - sandbox
              default: production
              description: Production uses Meta credentials, sandbox uses test data
            phone_number_id:
              type: string
              description: From Meta
            business_account_id:
              type: string
              description: From Meta
            access_token:
              type: string
              description: Permanent token from Meta
            webhook_verify_token:
              type:
                - string
                - "null"
            webhook_destination_url:
              type:
                - string
                - "null"
              format: uri
              description: Your HTTPS endpoint for webhooks
            inbound_processing_enabled:
              type: boolean
              default: true
            calls_enabled:
              type: boolean
              default: false

    WhatsappPhoneNumberUpdateRequest:
      type: object
      required:
        - whatsapp_phone_number
      properties:
        whatsapp_phone_number:
          type: object
          properties:
            name:
              type: string
            kind:
              type: string
              enum:
                - production
                - sandbox
            phone_number_id:
              type: string
              description: Required when switching to production
            business_account_id:
              type: string
            access_token:
              type: string
            webhook_verify_token:
              type:
                - string
                - "null"
            webhook_destination_url:
              type:
                - string
                - "null"
              format: uri
            inbound_processing_enabled:
              type: boolean
            calls_enabled:
              type: boolean

    WhatsappPhoneNumberResponse:
      type: object
      required:
        - data
      properties:
        data:
          $ref: "#/components/schemas/WhatsappPhoneNumber"

    WhatsappPhoneNumberListResponse:
      type: object
      required:
        - data
        - meta
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/WhatsappPhoneNumber"
        meta:
          $ref: "#/components/schemas/PaginationMeta"

    WhatsappPhoneNumberHealthResponse:
      type: object
      required:
        - status
        - timestamp
      properties:
        status:
          type: string
          enum:
            - healthy
            - degraded
            - unhealthy
            - error
        timestamp:
          type: string
          format: date-time
        retry_after:
          type: string
          format: date-time
          description: |
            Present only while the number is in access-error backoff. The earliest
            time a later request will re-check Meta. Requests made before this time
            return this same cached payload. It is not a scheduled re-check or a
            guarantee that the next check will succeed.
        error:
          type:
            - string
            - "null"
        checks:
          type:
            - object
            - "null"
          additionalProperties:
            type: object
            properties:
              passed:
                type:
                  - boolean
                  - "null"
              details:
                type: object
                additionalProperties: true
              error:
                type: string
          description: |
            Individual check results. Typical checks:
            - phone_number_access: Meta API connectivity
            - phone_number_connection: Meta connection status (CONNECTED/DISCONNECTED/UNKNOWN). `passed` is `null` when the status is UNKNOWN
            - messaging_health: Send/receive capability (AVAILABLE/LIMITED/BLOCKED)
            - webhook_subscription: WABA app subscription status
            - webhook_verified: Webhook verification status
            - token_validity: Access token validity (coexistence only)

    WhatsappWebhook:
      type: object
      required:
        - id
        - url
        - kind
        - events
        - active
        - created_at
        - updated_at
        - project_id
      properties:
        id:
          type: string
          format: uuid
        url:
          type: string
          format: uri
          description: Webhook delivery endpoint
        kind:
          type: string
          enum: [ kapso, meta ]
          default: kapso
          description: Webhook type - 'kapso' for event-based webhooks, 'meta' for raw
            Meta payload forwarding
        events:
          type: array
          description: Event subscriptions (required for 'kapso' webhooks, empty for 'meta')
          items:
            type: string
        active:
          type: boolean
          description: Pause deliveries without deleting
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        project_id:
          type: string
          format: uuid
        phone_number_id:
          type:
            - string
            - "null"
          description: Meta phone number ID
        secret_key:
          type:
            - string
            - "null"
          description: Secret for signing requests
        headers:
          type:
            - object
            - "null"
          additionalProperties: true
          description: Custom request headers
        buffer_enabled:
          type:
            - boolean
            - "null"
          description: Batch messages before delivery
        buffer_window_seconds:
          type:
            - integer
            - "null"
          description: Seconds to wait before sending batch
        max_buffer_size:
          type:
            - integer
            - "null"
          description: Max messages per batch
        buffer_events:
          type: array
          description: Events to buffer
          items:
            type: string
        inactivity_minutes:
          type:
            - integer
            - "null"
          description: Trigger inactivity event after N minutes
        payload_version:
          type:
            - string
            - "null"
          description: Webhook payload format version (defaults to 'v2')

    WhatsappWebhookRequest:
      type: object
      required:
        - whatsapp_webhook
      properties:
        whatsapp_webhook:
          type: object
          required:
            - url
            - secret_key
          oneOf:
            - title: Kapso webhook
              description: Event-based delivery in Kapso's payload format. This is the
                shape you get when `kind` is omitted, and it needs at least one event.
              required:
                - events
              properties:
                kind:
                  const: kapso
                events:
                  type: array
                  minItems: 1
            - title: Meta webhook
              description: Raw Meta forwarding. `kind` must be given explicitly, and
                any events you send are normalized to an empty list.
              required:
                - kind
              properties:
                kind:
                  const: meta
          properties:
            url:
              type: string
              format: uri
              description: Webhook delivery endpoint
            kind:
              type: string
              enum: [ kapso, meta ]
              default: kapso
              description: Webhook type - 'kapso' for event-based webhooks, 'meta' for raw
                Meta payload forwarding
            secret_key:
              type: string
              minLength: 1
              description: Secret for request verification. Required for every webhook,
                including 'meta' ones, and never generated for you
            active:
              type: boolean
              description: Enable deliveries
            buffer_enabled:
              type: boolean
              description: Batch messages before delivery (not supported for 'meta' webhooks)
            buffer_window_seconds:
              type:
                - integer
                - "null"
              description: Seconds to wait (1-60, default 5)
            max_buffer_size:
              type:
                - integer
                - "null"
              description: Max messages per batch (1-100)
            inactivity_minutes:
              type:
                - integer
                - "null"
              description: Minutes before inactivity event
            events:
              type: array
              description: Event subscriptions (e.g., whatsapp.message.received).
                Required and non-empty when kind is 'kapso' (the default).
                For 'meta' webhooks anything you send here is normalized to
                an empty list, since Meta decides what it sends
              items:
                type: string
            buffer_events:
              type: array
              description: Events to buffer (not supported for 'meta' webhooks)
              items:
                type: string
            headers:
              type:
                - object
                - "null"
              additionalProperties: true
              description: Custom request headers
            payload_version:
              type:
                - string
                - "null"
              description: Webhook payload format version (defaults to 'v2', not applicable
                for 'meta' webhooks)

    WhatsappWebhookUpdateRequest:
      type: object
      required:
        - whatsapp_webhook
      properties:
        whatsapp_webhook:
          type: object
          properties:
            url:
              type: string
              format: uri
              description: Webhook delivery endpoint
            kind:
              type: string
              enum: [ kapso, meta ]
              description: Webhook type (cannot be changed after creation)
            secret_key:
              type:
                - string
                - "null"
              description: Secret for request verification
            active:
              type: boolean
              description: Enable deliveries
            buffer_enabled:
              type: boolean
              description: Batch messages before delivery (not supported for 'meta' webhooks)
            buffer_window_seconds:
              type:
                - integer
                - "null"
              description: Seconds to wait (1-60, default 5)
            max_buffer_size:
              type:
                - integer
                - "null"
              description: Max messages per batch (1-100)
            inactivity_minutes:
              type:
                - integer
                - "null"
              description: Minutes before inactivity event
            events:
              type: array
              description: Event subscriptions (e.g., whatsapp.message.received) - required
                for 'kapso' webhooks, empty for 'meta'
              items:
                type: string
            buffer_events:
              type: array
              description: Events to buffer (not supported for 'meta' webhooks)
              items:
                type: string
            headers:
              type:
                - object
                - "null"
              additionalProperties: true
              description: Custom request headers
            payload_version:
              type:
                - string
                - "null"
              description: Webhook payload format version (defaults to 'v2')

    WhatsappProjectWebhookRequest:
      type: object
      required:
        - whatsapp_webhook
      properties:
        whatsapp_webhook:
          type: object
          required:
            - url
          properties:
            url:
              type: string
              format: uri
              description: Webhook delivery endpoint
            phone_number_id:
              type: string
              description: Optional Meta phone number ID. Omit for project-scoped webhooks
                (project events only). Required for message/conversation events
                and all meta webhooks.
            kind:
              type: string
              enum: [ kapso, meta ]
              default: kapso
              description: |
                Webhook type:
                - **kapso**: Event-based webhooks with filtered events, buffering support, and Kapso payload format (default)
                - **meta**: Raw Meta webhook forwarding - receives the exact payload Meta sends. Requires phone_number_id.
            secret_key:
              type:
                - string
                - "null"
              description: Secret for request verification
            active:
              type: boolean
              description: Enable deliveries
            buffer_enabled:
              type: boolean
              description: Batch messages before delivery (not supported for 'meta' webhooks)
            buffer_window_seconds:
              type:
                - integer
                - "null"
              description: Seconds to wait (1-60, default 5)
            max_buffer_size:
              type:
                - integer
                - "null"
              description: Max messages per batch (1-100)
            inactivity_minutes:
              type:
                - integer
                - "null"
              description: Minutes before inactivity event
            events:
              type: array
              description: Event subscriptions (project events for project-scoped webhooks,
                message/conversation events for number-scoped webhooks)
              items:
                type: string
            buffer_events:
              type: array
              description: Events to buffer (not supported for 'meta' webhooks)
              items:
                type: string
            headers:
              type:
                - object
                - "null"
              additionalProperties: true
              description: Custom request headers
            payload_version:
              type:
                - string
                - "null"
              description: Webhook payload format version (defaults to 'v2')

    WhatsappWebhookResponse:
      type: object
      required:
        - data
      properties:
        data:
          $ref: "#/components/schemas/WhatsappWebhook"

    WhatsappWebhookListResponse:
      type: object
      required:
        - data
        - meta
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/WhatsappWebhook"
        meta:
          $ref: "#/components/schemas/PaginationMeta"

    WhatsappBroadcastTemplate:
      type: object
      required:
        - id
        - name
        - language_code
        - category
        - status
      properties:
        id:
          type: string
          description: Meta template ID when available, otherwise internal UUID for legacy
            support
        meta_template_id:
          type:
            - string
            - "null"
          description: Meta's external template identifier
        name:
          type: string
        language_code:
          type: string
        category:
          type: string
        status:
          type: string
        quality_score:
          type:
            - string
            - "null"
          enum:
            - GREEN
            - YELLOW
            - RED
            - UNKNOWN
            - null
          description: >-
            Meta's quality score for the template as of the last template sync
            or quality webhook. `UNKNOWN` means Meta reports the quality as
            unknown. `null` means Kapso has not received a score for this
            template yet. This is the template's current score, not the score
            at the time the broadcast was sent.
        components:
          type: array
          description: Template component definitions (BODY, HEADER, BUTTON, etc.)
          items:
            type: object
            additionalProperties: true

    WhatsappBroadcast:
      type: object
      required:
        - id
        - name
        - status
        - created_at
        - updated_at
        - total_recipients
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          description: Campaign label
        status:
          type: string
          enum:
            - draft
            - scheduled
            - copying
            - sending
            - stopped
            - completed
            - failed
          description: >-
            `copying` means the broadcast was duplicated from another one and its
            recipients are still being copied. Recipients cannot be added or cleared
            and the broadcast cannot be sent or scheduled until it becomes `draft`.
        scheduled_at:
          type:
            - string
            - "null"
          format: date-time
          description: When broadcast is scheduled to send
        started_at:
          type:
            - string
            - "null"
          format: date-time
          description: When sending started
        stopped_at:
          type:
            - string
            - "null"
          format: date-time
          description: When sending was stopped
        completed_at:
          type:
            - string
            - "null"
          format: date-time
          description: When completed
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        sent_count:
          type: integer
          minimum: 0
          description: Messages sent
        failed_count:
          type: integer
          minimum: 0
          description: Failures
        delivered_count:
          type: integer
          minimum: 0
          description: Delivered
        read_count:
          type: integer
          minimum: 0
          description: Read
        pending_count:
          type: integer
          minimum: 0
          description: Pending
        suppressed_count:
          type: integer
          minimum: 0
          description: Recipients skipped because they stopped marketing messages
            on this number. Not sent, not charged, and excluded from sent_count
            and failed_count.
        responded_count:
          type: integer
          minimum: 0
          description: Responses
        response_rate:
          type: number
          format: float
          description: Response rate %
        total_recipients:
          type: integer
          minimum: 0
          description: Total recipients
        phone_number_id:
          type:
            - string
            - "null"
          description: Phone number ID
        whatsapp_template:
          anyOf:
            - $ref: "#/components/schemas/WhatsappBroadcastTemplate"
            - type: "null"

    WhatsappBroadcastCreateRequest:
      type: object
      required:
        - whatsapp_broadcast
      properties:
        whatsapp_broadcast:
          type: object
          required:
            - name
            - phone_number_id
            - whatsapp_template_id
          properties:
            name:
              type: string
              description: Campaign name
            phone_number_id:
              type: string
              description: Phone number ID to send from
            whatsapp_template_id:
              type: string
              description: Meta template ID (preferred) or internal UUID (legacy compatibility
                only). Migrate to Meta IDs for future compatibility.

    WhatsappBroadcastResponse:
      type: object
      required:
        - data
      properties:
        data:
          $ref: "#/components/schemas/WhatsappBroadcast"

    WhatsappBroadcastUpdateRequest:
      type: object
      required:
        - whatsapp_broadcast
      properties:
        whatsapp_broadcast:
          type: object
          required:
            - status
          properties:
            status:
              type: string
              enum:
                - draft
                - stopped
              description: Set to `stopped` to stop a sending broadcast, or `draft` to cancel a scheduled broadcast.

    WhatsappBroadcastListResponse:
      type: object
      required:
        - data
        - meta
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/WhatsappBroadcast"
        meta:
          $ref: "#/components/schemas/PaginationMeta"

    WhatsappBroadcastRecipient:
      type: object
      required:
        - id
        - phone_number
        - status
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
        phone_number:
          type: string
          description: E.164 format, no plus
        status:
          type: string
          enum:
            - pending
            - sent
            - failed
            - suppressed
          description: Delivery status. `suppressed` means the contact stopped
            marketing messages on this number — nothing was sent and nothing
            was charged.
        sent_at:
          type:
            - string
            - "null"
          format: date-time
        failed_at:
          type:
            - string
            - "null"
          format: date-time
        error_message:
          type:
            - string
            - "null"
        delivered_at:
          type:
            - string
            - "null"
          format: date-time
        read_at:
          type:
            - string
            - "null"
          format: date-time
        responded_at:
          type:
            - string
            - "null"
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        template_components:
          type: array
          description: Meta-style template components
          items:
            type: object
            additionalProperties: true
        error_details:
          type:
            - object
            - "null"
          additionalProperties: true
          description: >-
            Meta error payload. When Meta rejects the send, it holds `code`,
            `message`, `details`, `http_status`, and `fbtrace_id` from Meta's
            error, alongside `error_class`. Keys Meta did not return are
            omitted. For `suppressed` recipients it holds
            `code: marketing_preference_stopped` and a `detail` string instead.

    WhatsappBroadcastRecipientListResponse:
      type: object
      required:
        - data
        - meta
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/WhatsappBroadcastRecipient"
        meta:
          $ref: "#/components/schemas/PaginationMeta"

    WhatsappBroadcastRecipientsAddRequest:
      type: object
      required:
        - whatsapp_broadcast
      properties:
        whatsapp_broadcast:
          type: object
          required:
            - recipients
          properties:
            recipients:
              type: array
              minItems: 1
              items:
                type: object
                properties:
                  phone_number:
                    type: string
                    description: E.164 phone (required unless whatsapp_contact_id provided)
                  whatsapp_contact_id:
                    type: string
                    format: uuid
                    description: Existing contact ID
                  components:
                    type: array
                    description: Meta template components (body, header, button)
                    items:
                      type: object
                      required:
                        - type
                      properties:
                        type:
                          type: string
                          enum: [ header, body, button ]
                        sub_type:
                          type: string
                          description: Button sub_type (url, quick_reply)
                        index:
                          type: integer
                          description: Button index (0-based)
                        parameters:
                          type: array
                          items:
                            type: object
                            properties:
                              type:
                                type: string
                                description: Parameter type (text, image, video, document)
                              parameter_name:
                                type: string
                                description: Named parameter from template (e.g., first_name, discount_code)
                              text:
                                type: string
                                description: Text value for text parameters
                              image:
                                type: object
                                description: Image object for header images
                                additionalProperties: true
                              video:
                                type: object
                                description: Video object for header videos
                                additionalProperties: true
                              document:
                                type: object
                                description: Document object for header documents
                                additionalProperties: true
                            additionalProperties: true

    WhatsappBroadcastRecipientsAddResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          required:
            - added
            - duplicates
            - errors
          properties:
            added:
              type: integer
              minimum: 0
            duplicates:
              type: integer
              minimum: 0
            errors:
              type: array
              items:
                type: string

    WhatsappBroadcastSendResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          required:
            - id
            - status
          properties:
            id:
              type: string
              format: uuid
            status:
              type: string
            scheduled_at:
              type:
                - string
                - "null"
              format: date-time
            started_at:
              type:
                - string
                - "null"
              format: date-time
            stopped_at:
              type:
                - string
                - "null"
              format: date-time
            completed_at:
              type:
                - string
                - "null"
              format: date-time

    WhatsappConversation:
      type: object
      required:
        - id
        - status
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
        phone_number:
          type:
            - string
            - "null"
          description: Contact's WhatsApp number. Can be null for BSUID-only identity.
        business_scoped_user_id:
          type:
            - string
            - "null"
          description: WhatsApp business-scoped user ID
        parent_business_scoped_user_id:
          type:
            - string
            - "null"
          description: Parent business-scoped user ID when provided by Meta
        username:
          type:
            - string
            - "null"
          description: WhatsApp username when available
        status:
          type: string
          enum:
            - active
            - ended
        last_active_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        metadata:
          type: object
          default: {}
          additionalProperties: true
        phone_number_id:
          type:
            - string
            - "null"
        kapso:
          type:
            - object
            - "null"
          description: Conversation metadata
          properties:
            contact_name:
              type:
                - string
                - "null"
            messages_count:
              type: integer
              minimum: 0
            last_message_id:
              type:
                - string
                - "null"
            last_message_type:
              type:
                - string
                - "null"
            last_message_timestamp:
              type: string
              format: date-time
            last_message_text:
              type:
                - string
                - "null"
            last_inbound_at:
              type: string
              format: date-time
            last_outbound_at:
              type: string
              format: date-time

    WhatsappConversationResponse:
      type: object
      required:
        - data
      properties:
        data:
          $ref: "#/components/schemas/WhatsappConversation"

    WhatsappConversationUpdateRequest:
      type: object
      required:
        - whatsapp_conversation
      properties:
        whatsapp_conversation:
          type: object
          required:
            - status
          properties:
            status:
              type: string
              enum:
                - active
                - ended

    ConversationAssignment:
      type: object
      required:
        - id
        - user_id
        - active
        - created_at
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
          description: ID of the user assigned to the conversation
        created_by_user_id:
          type:
            - string
            - "null"
          format: uuid
          description: ID of the user who created the assignment
        notes:
          type:
            - string
            - "null"
          description: Optional notes about the assignment
        active:
          type: boolean
          description: Whether this assignment is currently active
        created_at:
          type: string
          format: date-time

    ConversationAssignmentResponse:
      type: object
      required:
        - data
      properties:
        data:
          $ref: "#/components/schemas/ConversationAssignment"

    ConversationAssignmentListResponse:
      type: object
      required:
        - data
        - meta
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/ConversationAssignment"
        meta:
          $ref: "#/components/schemas/PaginationMeta"

    ConversationAssignmentCreateRequest:
      type: object
      required:
        - assignment
      properties:
        assignment:
          type: object
          required:
            - user_id
          properties:
            user_id:
              type: string
              format: uuid
              description: ID of the user to assign
            notes:
              type: string
              description: Optional notes about the assignment

    ConversationAssignmentUpdateRequest:
      type: object
      required:
        - assignment
      properties:
        assignment:
          type: object
          properties:
            user_id:
              type: string
              format: uuid
              description: ID of the user to reassign to
            notes:
              type: string
              description: Updated notes
            active:
              type: boolean
              description: Set to false to unassign

    WhatsappConversationListResponse:
      type: object
      required:
        - data
        - paging
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/WhatsappConversation"
        paging:
          $ref: "#/components/schemas/Paging"

    WhatsappMessage:
      type: object
      description: |
        WhatsApp message in Meta-compatible format with Kapso extensions.
        The structure mirrors Meta's webhook payload format.
      required:
        - id
        - timestamp
        - type
        - kapso
      properties:
        id:
          type: string
          description: WhatsApp message ID (WAMID)
          example: wamid.HBgLMTU1NTEyMzQ1NjcVAgASGBQzQUY5
        timestamp:
          type: string
          description: Unix timestamp in seconds (as string per Meta convention)
          example: "1705329600"
        type:
          type: string
          description: Message type
          enum:
            - text
            - image
            - video
            - audio
            - document
            - location
            - interactive
            - template
            - reaction
            - contacts
            - sticker
            - button
            - order
        from:
          type:
            - string
            - "null"
          description: Sender phone number when phone-based identity is available
          example: "15551234567"
        from_user_id:
          type:
            - string
            - "null"
          description: Sender business-scoped user ID when available
          example: "US.13491208655302741918"
        from_parent_user_id:
          type:
            - string
            - "null"
          description: Sender parent business-scoped user ID when available
          example: "US.ENT.506847293015824"
        to:
          type:
            - string
            - "null"
          description: Recipient phone number when phone-based identity is available
          example: "15551234567"
        to_user_id:
          type:
            - string
            - "null"
          description: Recipient business-scoped user ID when available
          example: "US.13491208655302741918"
        to_parent_user_id:
          type:
            - string
            - "null"
          description: Recipient parent business-scoped user ID when available
[...]
