openapi: 3.1.0
info:
  title: Kapso Meta Proxy API
  version: 1.0.0
  description: |
    Kapso's Meta Proxy API provides a unified interface to WhatsApp Business Platform with enhanced features and Kapso-specific extensions.

    This API acts as a proxy layer between your application and WhatsApp, adding:
    - Simplified authentication with project-level API keys
    - Enhanced message metadata and tracking
    - Conversation management capabilities
    - Voice call integration
    - Extended contact and template management

    ## Base URL

    All API requests are made to: `https://api.kapso.ai/meta/whatsapp/v24.0`

    ## Authentication

    The API supports authentication via **X-API-Key header** (recommended):

    ```
    X-API-Key: your_project_api_key
    ```

    Alternative: Bearer token authentication is also supported for backward compatibility:

    ```
    Authorization: Bearer your_access_token
    ```

    Note: X-API-Key is the recommended authentication method for the Meta Proxy API.
  contact:
    name: Kapso Support
    url: https://kapso.ai
    email: dev@kap.so
servers:
  - url: https://api.kapso.ai/meta/whatsapp/v24.0
    description: Production server
security:
  - ApiKeyAuth: []
  - BearerAuth: []
tags:
  - name: Messages
    description: Send and retrieve WhatsApp messages
  - name: Conversations
    description: Manage WhatsApp conversations
  - name: Contacts
    description: Manage WhatsApp contacts
  - name: Templates
    description: Manage message templates
  - name: Media
    description: Upload and retrieve media files
  - name: Calls
    description: Manage voice calls
  - name: Settings
    description: Account settings and configuration
  - name: Business Profile
    description: Business profile management
  - name: Phone Numbers
    description: Phone number management
  - name: Flows
    description: WhatsApp Flow management (Beta)
  - name: Block Users
    description: Block and unblock WhatsApp users
  - name: Usernames
    description: Reserve and manage WhatsApp business usernames
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: |
        Project API key for authentication. This is the recommended authentication method.

        Get your API key from the Kapso dashboard under Integrations > API keys.
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        Bearer token authentication (alternative method).

        Note: X-API-Key authentication is recommended for the Meta Proxy API.
  schemas:
    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - message
            - type
            - code
          properties:
            message:
              type: string
              description: Human-readable error message
              example: Invalid phone number format
            type:
              type: string
              description: Error category
              example: OAuthException
            code:
              type: integer
              description: Error code
              example: 400
            error_subcode:
              type: integer
              description: More specific error code
              example: 1001
            fbtrace_id:
              type: string
              description: Facebook trace ID for debugging
              example: AXk7s_8dR4eVHp9Kq2MmNlO
    MessageInFlightError:
      type: object
      description: Another message to this recipient is still being sent. Wait and retry.
      required:
        - error
      properties:
        error:
          type: string
          example: Another message is already in-flight for this conversation. Please retry shortly.
    ThreadOwnershipError:
      type: object
      description: |
        Shared numbers only. Another app handles the conversation, so the regular message was refused
        before reaching Meta. Send a template, or take over the conversation.
      required:
        - error
        - code
        - thread_error
      properties:
        error:
          type: string
          description: Human-readable error message
          example: Another app controls this conversation. Automated Service messages are blocked; templates are still allowed.
        code:
          type: string
          description: |
            `meta_business_agent_control` on numbers with Meta Business Agent; `thread_error` has the
            specific reason.
          enum:
            - thread_not_owner
            - thread_ownership_unknown
            - meta_business_agent_control
        thread_error:
          type: string
          enum:
            - thread_not_owner
            - thread_ownership_unknown
    MarketingPreferenceStoppedError:
      type: object
      description: Returned when the recipient asked WhatsApp to stop marketing
        messages from this number. The send is refused before reaching Meta and
        is not charged. Do not retry — use a utility or authentication
        template, or another number.
      required:
        - error
        - code
      properties:
        error:
          type: string
          description: Human-readable error message
          example: Contact stopped marketing messages on this WhatsApp number
        code:
          type: string
          enum:
            - marketing_preference_stopped
    PaginationCursor:
      type: object
      properties:
        before:
          type: string
          description: Cursor for previous page (Base64 encoded)
          example: eyJ2YWx1ZXMiOlsiMjAyNC0wMS0xNVQxMjozNDo1Ni4xMjM0NTZaIiwiMTIzNDUiXSwiY29sdW1ucyI6WyJjcmVhdGVkX2F0IiwiaWQiXX0=
        after:
          type: string
          description: Cursor for next page (Base64 encoded)
          example: eyJ2YWx1ZXMiOlsiMjAyNC0wMS0xNFQwOToyMTozMi43ODkwMTJaIiwiMTIzMjAiXSwiY29sdW1ucyI6WyJjcmVhdGVkX2F0IiwiaWQiXX0=
    Paging:
      type: object
      properties:
        cursors:
          $ref: "#/components/schemas/PaginationCursor"
    WhatsappContact:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          description: Contact ID (UUID)
          example: 123e4567-e89b-12d3-a456-426614174000
        wa_id:
          type: string
          nullable: true
          description: WhatsApp ID (phone number). Can be null when Meta only provides BSUID-based identity.
          example: "15551234567"
        business_scoped_user_id:
          type: string
          nullable: true
          description: WhatsApp business-scoped user ID
          example: US.13491208655302741918
        parent_business_scoped_user_id:
          type: string
          nullable: true
          description: Parent business-scoped user ID when provided by Meta
          example: US.ENT.506847293015824
        username:
          type: string
          nullable: true
          description: WhatsApp username when available
          example: "@testusername"
        profile_name:
          type: string
          description: WhatsApp profile name
          example: John Doe
        display_name:
          type: string
          description: Custom display name
          example: John (VIP Customer)
        metadata:
          type: object
          description: Custom metadata
          additionalProperties: true
          nullable: true
        created_at:
          type: string
          format: date-time
          description: Contact creation timestamp
          example: 2024-01-15T12:34:56.123456Z
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
          example: 2024-01-15T12:34:56.123456Z
    MessageType:
      type: string
      enum:
        - text
        - image
        - video
        - audio
        - document
        - sticker
        - location
        - contacts
        - interactive
        - template
        - reaction
      description: Type of WhatsApp message
    TextMessage:
      type: object
      required:
        - body
      properties:
        body:
          type: string
          description: Text content of the message
          example: Hello! How can I help you today?
        preview_url:
          type: boolean
          description: Whether to show URL preview (defaults to false if omitted)
          example: true
    MediaMessage:
      type: object
      properties:
        id:
          type: string
          description: |-
            Media ID from WhatsApp (uploaded media).
            Recommended over `link` for better performance.
          example: abc123def456
        link:
          type: string
          format: uri
          description: |-
            Public URL to media file (hosted media).
            Using uploaded media with `id` is recommended for better performance.
          example: https://example.com/image.jpg
        caption:
          type: string
          description: |-
            Media caption text.
            - Images: max 1024 characters
            - Videos: max 1024 characters
            - Documents: max 1024 characters

            Not supported for stickers or audio.
          maxLength: 1024
          example: Check out this photo!
        filename:
          type: string
          description: |-
            Filename with extension (for documents only).
            WhatsApp client displays appropriate file type icon based on extension.
          example: report.pdf
    AudioMessage:
      type: object
      properties:
        id:
          type: string
          description: Media ID from WhatsApp (uploaded media)
          example: abc123def456
        link:
          type: string
          format: uri
          description: |-
            Public URL to audio file (hosted media).
            Using uploaded media with `id` is recommended for better performance.
          example: https://example.com/audio.mp3
        voice:
          type: boolean
          description: |-
            Set to `true` for voice messages (voice notes with transcription support).
            Voice messages must be .ogg files encoded with OPUS codec.
            Set to `false` or omit for basic audio messages.

            Voice messages include: automatic download, profile picture, voice icon, and optional transcription.
            Basic audio messages display a download icon and music icon.
          example: true
    StickerMessage:
      type: object
      properties:
        id:
          type: string
          description: Media ID from WhatsApp
          example: abc123def456
        link:
          type: string
          format: uri
          description: Public URL to sticker file
          example: https://example.com/sticker.webp
        mime_type:
          type: string
          description: MIME type of the sticker
          example: image/webp
        animated:
          type: boolean
          description: Whether the sticker is animated
          example: false
    OrderMessage:
      type: object
      properties:
        catalog_id:
          type: string
          description: Catalog ID
          example: cat_12345
        product_items:
          type: array
          description: Array of product items
          items:
            type: object
        order_text:
          type: string
          description: Order text
          example: I'd like to order this item
    SupportedDocumentFormats:
      description: |-
        Supported document formats for document messages.

        | Format | Extension | MIME Type | Max Size |
        |--------|-----------|-----------|----------|
        | Text | .txt | text/plain | 100 MB |
        | Microsoft Excel | .xls | application/vnd.ms-excel | 100 MB |
        | Microsoft Excel | .xlsx | application/vnd.openxmlformats-officedocument.spreadsheetml.sheet | 100 MB |
        | Microsoft Word | .doc | application/msword | 100 MB |
        | Microsoft Word | .docx | application/vnd.openxmlformats-officedocument.wordprocessingml.document | 100 MB |
        | Microsoft PowerPoint | .ppt | application/vnd.ms-powerpoint | 100 MB |
        | Microsoft PowerPoint | .pptx | application/vnd.openxmlformats-officedocument.presentationml.presentation | 100 MB |
        | PDF | .pdf | application/pdf | 100 MB |
      type: object
    SupportedImageFormats:
      description: |-
        Supported image formats for image messages.
        Images must be 8-bit, RGB or RGBA.

        | Format | Extension | MIME Type | Max Size |
        |--------|-----------|-----------|----------|
        | JPEG | .jpeg, .jpg | image/jpeg | 5 MB |
        | PNG | .png | image/png | 5 MB |
      type: object
    SupportedVideoFormats:
      description: |-
        Supported video formats for video messages.
        Only H.264 video codec and AAC audio codec supported.
        Single audio stream or no audio stream only.

        | Format | Extension | MIME Type | Max Size |
        |--------|-----------|-----------|----------|
        | 3GPP | .3gp | video/3gpp | 16 MB |
        | MP4 | .mp4 | video/mp4 | 16 MB |
      type: object
    SupportedAudioFormats:
      description: |-
        Supported audio formats for audio messages.
        Voice messages (voice=true) require .ogg files with OPUS codec.

        | Format | Extension | MIME Type | Max Size |
        |--------|-----------|-----------|----------|
        | AAC | .aac | audio/aac | 16 MB |
        | AMR | .amr | audio/amr | 16 MB |
        | MP3 | .mp3 | audio/mpeg | 16 MB |
        | MP4 Audio | .m4a | audio/mp4 | 16 MB |
        | OGG Audio | .ogg | audio/ogg (OPUS codec only) | 16 MB |
      type: object
    SupportedStickerFormats:
      description: |-
        Supported sticker formats for sticker messages.

        | Type | Extension | MIME Type | Max Size |
        |------|-----------|-----------|----------|
        | Static | .webp | image/webp | 100 KB |
        | Animated | .webp | image/webp | 500 KB |
      type: object
    LocationMessage:
      type: object
      required:
        - latitude
        - longitude
      properties:
        latitude:
          type: number
          format: double
          description: Latitude coordinate
          example: 37.7749
        longitude:
          type: number
          format: double
          description: Longitude coordinate
          example: -122.4194
        name:
          type: string
          description: Location name
          example: Golden Gate Bridge
        address:
          type: string
          description: Location address
          example: San Francisco, CA
    ContactCard:
      type: object
      required:
        - name
      properties:
        addresses:
          type: array
          description: Physical addresses for the contact
          items:
            type: object
            properties:
              street:
                type: string
                description: Street number and name
                example: 1 Lucky Shrub Way
              city:
                type: string
                description: City name
                example: Menlo Park
              state:
                type: string
                description: State abbreviation or full name
                example: CA
              zip:
                type: string
                description: ZIP or postal code
                example: "94025"
              country:
                type: string
                description: Full country name
                example: United States
              country_code:
                type: string
                description: Two-letter country code (ISO 3166-1 alpha-2)
                example: US
              type:
                type: string
                description: Address type (HOME, WORK, etc.)
                example: WORK
        birthday:
          type: string
          format: date
          description: Contact's birthday in YYYY-MM-DD format
          example: 1999-01-23
        emails:
          type: array
          items:
            type: object
            properties:
              email:
                type: string
                example: john@example.com
              type:
                type: string
                example: WORK
        name:
          type: object
          required:
            - formatted_name
          properties:
            formatted_name:
              type: string
              description: Full formatted name (appears in message)
              maxLength: 200
              example: Barbara J. Johnson
            first_name:
              type: string
              description: First name
              example: Barbara
            last_name:
              type: string
              description: Last name
              example: Johnson
            middle_name:
              type: string
              description: Middle name
              example: Joana
            suffix:
              type: string
              description: Name suffix (Jr., Sr., etc.)
              example: Esq.
            prefix:
              type: string
              description: Name prefix (Dr., Mr., Ms., etc.)
              example: Dr.
        org:
          type: object
          description: Organization information
          properties:
            company:
              type: string
              description: Company name
              example: Lucky Shrub
            department:
              type: string
              description: Department name
              example: Legal
            title:
              type: string
              description: Job title
              example: Lead Counsel
        phones:
          type: array
          items:
            type: object
            properties:
              phone:
                type: string
                description: Phone number
                example: "+15551234567"
              type:
                type: string
                description: Phone type (MOBILE, HOME, WORK, etc.)
                example: MOBILE
              wa_id:
                type: string
                description: |-
                  WhatsApp ID for this phone number.
                  If omitted, message will display "Invite to WhatsApp" button instead of "Message" button.
                example: "15551234567"
        urls:
          type: array
          description: Website URLs associated with the contact
          items:
            type: object
            properties:
              url:
                type: string
                format: uri
                description: Website URL
                example: https://www.luckyshrub.com
              type:
                type: string
                description: Website type (WORK, HOME, etc.)
                example: WORK
    InteractiveMessage:
      type: object
      required:
        - type
        - action
      properties:
        type:
          type: string
          enum:
            - button
            - list
            - flow
            - cta_url
            - carousel
            - location_request_message
            - request_contact_info
            - address_message
            - order_details
            - order_status
            - product
            - product_list
            - call_permission_request
            - catalog_message
          description: |-
            Interactive message type:
            - button: Reply buttons (up to 3)
            - list: List picker (up to 10 rows across sections)
            - flow: WhatsApp Flow integration
            - cta_url: Call-to-action URL button
            - carousel: Free-form media carousel with 2-10 cards
            - location_request_message: Request user's location
            - request_contact_info: Request user's phone number and contact info
            - address_message: Address collection (India only)
            - order_details: Order for the user to review and pay (Brazil Pix)
            - order_status: Status update for a previously sent order
            - product: Single product message
            - product_list: Multi-product message (up to 30 products)
            - call_permission_request: Request permission to call
            - catalog_message: Browse full catalog
        body:
          type: object
          description: |-
            Message body text.
            Required for all types except location_request_message (where it's optional).
          required:
            - text
          properties:
            text:
              type: string
              description: Body text (supports URLs and markdown)
              maxLength: 1024
              example: Please select an option
        header:
          type: object
          properties:
            type:
              type: string
              enum:
                - text
                - image
                - video
                - document
            text:
              type: string
              maxLength: 60
            image:
              $ref: "#/components/schemas/MediaMessage"
            video:
              $ref: "#/components/schemas/MediaMessage"
            document:
              $ref: "#/components/schemas/MediaMessage"
        footer:
          type: object
          properties:
            text:
              type: string
              description: Footer text
              maxLength: 60
              example: Powered by Kapso
        action:
          type: object
          description: |-
            Action definition. Structure varies by interactive type.

            NOTE: The structure of the action object varies by type:
            - type=button: Requires `buttons` array
            - type=list: Requires `button` (string) and `sections` array
            - type=flow: Requires `name="flow"` and `parameters` with flow config
            - type=cta_url: Requires `name="cta_url"` and `parameters` with display_text and url
            - type=carousel: Requires `cards` array with 2-10 media cards. Top-level header/footer are not supported.
            - type=location_request_message: Requires `name="send_location"`
            - type=request_contact_info: Requires `name="request_contact_info"`
            - type=address_message: Requires `name="address_message"` and `parameters` with country
            - type=order_details: Requires `name="review_and_pay"` and a `parameters` object
            - type=order_status: Requires `name="review_order"` and a `parameters` object
          properties:
            buttons:
              type: array
              description: |-
                Reply buttons (for type=button).
                Minimum 1, maximum 3 buttons.
              maxItems: 3
              items:
                type: object
                required:
                  - type
                  - reply
                properties:
                  type:
                    type: string
                    enum:
                      - reply
                  reply:
                    type: object
                    required:
                      - id
                      - title
                    properties:
                      id:
                        type: string
                        description: Unique button identifier
                        maxLength: 256
                        example: button_1
                      title:
                        type: string
                        description: Button label text
                        maxLength: 20
                        example: Yes
            button:
              type: string
              description: |-
                Button label for list picker (for type=list).
                When tapped, displays the list modal.
              maxLength: 20
              example: View Options
            sections:
              type: array
              description: |-
                List sections (for type=list).
                Maximum 10 sections, maximum 10 rows total across all sections.
              maxItems: 10
              items:
                type: object
                required:
                  - rows
                properties:
                  title:
                    type: string
                    description: Section title
                    maxLength: 24
                    example: Popular Items
                  rows:
                    type: array
                    description: Rows within this section
                    items:
                      type: object
                      required:
                        - id
                        - title
                      properties:
                        id:
                          type: string
                          description: Unique row identifier (returned in webhook)
                          maxLength: 200
                          example: row_1
                        title:
                          type: string
                          description: Row title
                          maxLength: 24
                          example: Option 1
                        description:
                          type: string
                          description: Row description
                          maxLength: 72
                          example: This is option 1
            cards:
              type: array
              minItems: 2
              maxItems: 10
              description: |-
                Carousel cards (for type=carousel). Each card must include a media header
                with image or video and all cards must use the same button structure:
                either one CTA URL button per card, or the same number of quick-reply
                buttons per card.
              items:
                type: object
                required:
                  - card_index
                  - header
                  - action
                properties:
                  card_index:
                    type: integer
                    minimum: 0
                    description: Zero-based card index. Values should be sequential.
                  type:
                    type: string
                    description: Meta examples use `cta_url` for carousel cards.
                    example: cta_url
                  header:
                    type: object
                    required:
                      - type
                    properties:
                      type:
                        type: string
                        enum:
                          - image
                          - video
                      image:
                        $ref: "#/components/schemas/MediaMessage"
                      video:
                        $ref: "#/components/schemas/MediaMessage"
                  body:
                    type: object
                    properties:
                      text:
                        type: string
                        maxLength: 160
                        description: Optional card body text. Maximum 2 line breaks.
                  action:
                    type: object
                    properties:
                      name:
                        type: string
                        enum:
                          - cta_url
                      parameters:
                        type: object
                        properties:
                          display_text:
                            type: string
                            maxLength: 20
                          url:
                            type: string
                            format: uri
                      buttons:
                        type: array
                        items:
                          type: object
                          required:
                            - type
                            - quick_reply
                          properties:
                            type:
                              type: string
                              enum:
                                - quick_reply
                            quick_reply:
                              type: object
                              required:
                                - id
                                - title
                              properties:
                                id:
                                  type: string
                                  maxLength: 256
                                title:
                                  type: string
                                  maxLength: 20
            name:
              type: string
              description: |-
                Action name.
                - "cta_url" for CTA URL buttons
                - "send_location" for location requests
                - "request_contact_info" for phone number/contact info requests
                - "address_message" for address collection
                - "flow" for WhatsApp Flows
                - "call_permission_request" for call permission request
                - "catalog_message" for catalog browse
              enum:
                - cta_url
                - send_location
                - request_contact_info
                - address_message
                - flow
                - call_permission_request
                - catalog_message
              example: cta_url
            parameters:
              type: object
              description: Parameters object (structure varies by action name).
              properties:
                display_text:
                  type: string
                  description: Button label text (for cta_url)
                  maxLength: 20
                  example: Visit Website
                url:
                  type: string
                  format: uri
                  description: URL to open (for cta_url)
                  example: https://example.com/product?id=123
                country:
                  type: string
                  description: |-
                    Country code (for address_message).
                    Currently only "IN" (India) is supported.
                  example: IN
                values:
                  type: object
                  description: Pre-filled address values (for address_message)
                  properties:
                    name:
                      type: string
                      example: John Doe
                    phone_number:
                      type: string
                      example: "+919876543210"
                    in_pin_code:
                      type: string
                      maxLength: 6
                      example: "400063"
                    house_number:
                      type: string
                      example: "123"
                    floor_number:
                      type: string
                      example: "5"
                    tower_number:
                      type: string
                      example: A
                    building_name:
                      type: string
                      example: Acme Apartments
                    address:
                      type: string
                      example: MG Road
                    landmark_area:
                      type: string
                      example: Near Station
                    city:
                      type: string
                      example: Mumbai
                    state:
                      type: string
                      example: Maharashtra
                saved_addresses:
                  type: array
                  description: Previously saved addresses for selection (for address_message)
                  items:
                    type: object
                    required:
                      - id
                      - value
                    properties:
                      id:
                        type: string
                        example: addr_1
                      value:
                        type: object
                        description: Address details (same structure as values object)
                        additionalProperties: true
                validation_errors:
                  type: object
                  description: Field validation errors to display (for address_message)
                  additionalProperties:
                    type: string
                  example:
                    in_pin_code: Invalid PIN code
                flow_message_version:
                  type: string
                  description: Flow message version (for flow). Must be "3".
                  example: "3"
                flow_id:
                  type: string
                  description: WhatsApp Flow ID (for flow). Cannot use with flow_name.
                  example: "123456789"
                flow_name:
                  type: string
                  description: Flow name (for flow). Cannot use with flow_id.
                  example: Product Survey
                flow_cta:
                  type: string
                  description: Flow CTA button text (for flow)
                  maxLength: 30
                  example: Take Survey
                mode:
                  type: string
                  enum:
                    - draft
                    - published
                  description: Flow mode (for flow, defaults to published if omitted)
                flow_token:
                  type: string
                  description: Flow token for identification (for flow)
                  example: AQAAAAACS5FpgQ_cAAAAAD0QI3s.
                flow_action:
                  type: string
                  enum:
                    - navigate
                    - data_exchange
                  description: Flow action type (for flow, defaults to navigate if omitted)
                flow_action_payload:
                  type: object
                  description: Flow action payload (for flow)
                  properties:
                    screen:
                      type: string
                      description: First screen ID
                      example: WELCOME_SCREEN
                    data:
                      type: object
                      description: Initial data for first screen
                      additionalProperties: true
                catalog_id:
                  type: string
                  description: Catalog ID (for product/product_list)
                product_retailer_id:
                  type: string
                  description: Product ID in the catalog (for product)
                sections:
                  type: array
                  description: "Sections for multi-product messages (product_list). Up to 10 sections. Global limit: ≤ 30 products across all sections."
                  items:
                    type: object
                    required:
                      - title
                      - product_items
                    properties:
                      title:
                        type: string
                        maxLength: 24
                      product_items:
                        type: array
                        items:
                          type: object
                          required:
                            - product_retailer_id
                          properties:
                            product_retailer_id:
                              type: string
                thumbnail_product_retailer_id:
                  type: string
                  description: Thumbnail product to highlight (for catalog_message)
    TemplateMessage:
      type: object
      required:
        - name
        - language
      properties:
        name:
          type: string
          description: Template name
          example: hello_world
        language:
          type: object
          required:
            - code
          properties:
            code:
              type: string
              description: Language code
              example: en_US
        components:
          type: array
          description: Template components with parameters
          items:
            type: object
    ReactionMessage:
      type: object
      required:
        - message_id
        - emoji
      properties:
        message_id:
          type: string
          description: ID of message to react to
          example: wamid.HBgNMTU1NTE...
        emoji:
          type: string
          description: Emoji to react with
          example: 👍
    WhatsappMessage:
      type: object
      required:
        - messaging_product
        - type
      anyOf:
        - required:
            - to
        - required:
            - recipient
      properties:
        messaging_product:
          type: string
          enum:
            - whatsapp
          description: Always "whatsapp"
          example: whatsapp
        recipient_type:
          type: string
          enum:
            - individual
            - group
          default: individual
          description: |-
            Recipient type. Use `individual` for 1:1, `group` for group messages.
            When `group`, `to` must be a Group ID obtained via the Groups API.
        biz_opaque_callback_data:
          type: string
          maxLength: 512
          description: Arbitrary string for tracking (echoed in webhooks)
        messaging_account_id:
          type: string
          description: |-
            Optional Messaging Account (WhatsApp Business Account) ID to send from.
            Must match the account the `phone_number_id` is configured with, otherwise
            the request is rejected with `messaging_account_mismatch`.
          example: "102290129340398"
        paid_messaging_account_id:
          type: string
          deprecated: true
          description: |-
            Deprecated alias for `messaging_account_id`. Ignored when
            `messaging_account_id` is also present.
          example: "102290129340398"
        to:
          type: string
          description: Recipient phone number or group ID. Use `recipient` for BSUID sends.
          example: "15551234567"
        recipient:
          type: string
          description: Recipient BSUID or parent BSUID. If `to` is also present, the phone number in `to` takes precedence.
          example: US.13491208655302741918
        type:
          $ref: "#/components/schemas/MessageType"
        context:
          type: object
          description: Reply context
          properties:
            message_id:
              type: string
              description: ID of message being replied to
              example: wamid.HBgNMTU1NTE...
        text:
          $ref: "#/components/schemas/TextMessage"
        image:
          $ref: "#/components/schemas/MediaMessage"
        video:
          $ref: "#/components/schemas/MediaMessage"
        audio:
          $ref: "#/components/schemas/AudioMessage"
        document:
          $ref: "#/components/schemas/MediaMessage"
        sticker:
          $ref: "#/components/schemas/MediaMessage"
        location:
          $ref: "#/components/schemas/LocationMessage"
        contacts:
          type: array
          items:
            $ref: "#/components/schemas/ContactCard"
        interactive:
          $ref: "#/components/schemas/InteractiveMessage"
        template:
          $ref: "#/components/schemas/TemplateMessage"
        reaction:
          $ref: "#/components/schemas/ReactionMessage"
    MarketingMessage:
      type: object
      required:
        - messaging_product
        - type
        - template
      anyOf:
        - required:
            - to
        - required:
            - recipient
      properties:
        messaging_product:
          type: string
          enum:
            - whatsapp
          description: Always "whatsapp"
          example: whatsapp
        recipient_type:
          type: string
          enum:
            - individual
          default: individual
          description: Marketing messages are sent to individual recipients.
        biz_opaque_callback_data:
          type: string
          maxLength: 512
          description: Arbitrary string for tracking (echoed in webhooks)
        to:
          type: string
          description: Recipient phone number. Use `recipient` for BSUID sends.
          example: "15551234567"
        recipient:
          type: string
          description: Recipient BSUID or parent BSUID. If `to` is also present, the phone number in `to` takes precedence.
          example: US.13491208655302741918
        type:
          type: string
          enum:
            - template
          description: Marketing messages must use a WhatsApp template.
          example: template
        template:
          $ref: "#/components/schemas/TemplateMessage"
    MarkReadRequest:
      type: object
      required:
        - messaging_product
        - status
        - message_id
      properties:
        messaging_product:
          type: string
          enum:
            - whatsapp
        status:
          type: string
          enum:
            - read
        message_id:
          type: string
          description: WhatsApp message ID to mark as read
        typing_indicator:
          type: object
          description: Optional typing indicator to display while preparing a reply (dismissed on send or after ~25s)
          properties:
            type:
              type: string
              enum:
                - text
              description: Typing indicator type (currently only "text")
    WhatsappMessageResponse:
      type: object
      required:
        - id
        - timestamp
        - type
      properties:
        id:
          type: string
          description: Message ID
          example: wamid.HBgNMTU1NTE0OTU5Nzg1FQIAERgSMDhGRjdBMDEyOTcxQzFFQkFBAA==
        timestamp:
          type: string
          description: Message timestamp (Unix timestamp as string)
          example: "1705328096"
        type:
          $ref: "#/components/schemas/MessageType"
        from:
          type: string
          nullable: true
          description: Sender WhatsApp ID (phone-based identity when available)
          example: "15551234567"
        from_user_id:
          type: string
          nullable: true
          description: Sender business-scoped user ID when available
          example: US.13491208655302741918
        from_parent_user_id:
          type: string
          nullable: true
          description: Sender parent business-scoped user ID when available
          example: US.ENT.506847293015824
        to:
          type: string
          nullable: true
          description: Recipient WhatsApp ID (phone-based identity when available)
          example: "110987654321"
        to_user_id:
          type: string
          nullable: true
          description: Recipient business-scoped user ID when available
          example: US.13491208655302741918
        to_parent_user_id:
          type: string
          nullable: true
          description: Recipient parent business-scoped user ID when available
          example: US.ENT.506847293015824
        username:
          type: string
          nullable: true
          description: WhatsApp username when available
          example: "@testusername"
        context:
          type: object
          description: Reply context
          properties:
            from:
              type: string
              description: Sender of the original message
            id:
              type: string
              description: ID of the message being replied to
            referred_product:
              type: object
              description: Product reference (for catalog messages)
              properties:
                catalog_id:
                  type: string
                product_retailer_id:
                  type: string
        text:
          $ref: "#/components/schemas/TextMessage"
        image:
          $ref: "#/components/schemas/MediaMessage"
        video:
          $ref: "#/components/schemas/MediaMessage"
        audio:
          $ref: "#/components/schemas/AudioMessage"
        document:
          $ref: "#/components/schemas/MediaMessage"
        sticker:
          $ref: "#/components/schemas/StickerMessage"
        location:
          $ref: "#/components/schemas/LocationMessage"
        contacts:
          type: array
          items:
            $ref: "#/components/schemas/ContactCard"
        order:
          $ref: "#/components/schemas/OrderMessage"
        interactive:
          type: object
          description: Interactive message content (for inbound interactive responses).
          properties:
            type:
              type: string
              enum:
                - button_reply
                - list_reply
                - nfm_reply
              description: |-
                Type of interactive response:
                - button_reply: Reply button was tapped
                - list_reply: List item was selected
                - nfm_reply: Native Flow Message (address_message, etc.)
              example: button_reply
            button_reply:
              type: object
              description: Reply button response
              properties:
                id:
                  type: string
                  description: Button ID that was tapped
                  example: button_1
                title:
                  type: string
                  description: Button title that was tapped
                  example: Yes
            list_reply:
              type: object
              description: List selection response
              properties:
                id:
                  type: string
                  description: Row ID that was selected
                  example: row_express
                title:
                  type: string
                  description: Row title that was selected
                  example: Express Shipping
                description:
                  type: string
                  description: Row description
                  example: 1-2 business days
            nfm_reply:
              type: object
              description: Native Flow Message response (e.g., address_message)
              properties:
                name:
                  type: string
                  description: NFM action name
                  example: address_message
                response_json:
                  type: string
                  description: JSON string containing form response data
                  example: '{"values":{"name":"John Doe","in_pin_code":"400063"}}'
                body:
                  type: string
                  description: Human-readable summary of response
                  example: John Doe, +919876543210, 400063, Mumbai
        template:
          type: object
          description: Template message content
        reaction:
          $ref: "#/components/schemas/ReactionMessage"
        kapso:
          type: object
          description: Kapso-specific message extensions
          properties:
            direction:
              type: string
              enum:
                - inbound
                - outbound
              description: Message direction
              example: inbound
            status:
              type: string
              enum:
                - pending
                - sent
                - delivered
                - read
                - failed
              description: Delivery status
              example: delivered
            processing_status:
              type: string
              enum:
                - pending
                - processing
                - completed
                - failed
              description: Processing state
              example: completed
            phone_number:
              type: string
              nullable: true
              description: Associated phone number when phone-based identity is available
              example: "+15559876543"
            has_media:
              type: boolean
              description: Whether message has attached media files
              example: false
            whatsapp_conversation_id:
              type: string
              description: Conversation UUID
              example: 123e4567-e89b-12d3-a456-426614174000
            contact_name:
              type: string
              nullable: true
              description: Contact display name from conversation
              example: John Doe
            content:
              type: string
              nullable: true
              description: Message text content
              example: Hello! I need help with my order
            media_data:
              type: object
              description: Complete media information (when has_media is true)
              properties:
                url:
                  type: string
                  format: uri
                  description: Download URL for the media file
                  example: https://api.kapso.ai/storage/media/abc123.jpg
                filename:
                  type: string
                  description: Original filename
                  example: package.jpg
                content_type:
                  type: string
                  description: MIME type
                  example: image/jpeg
                byte_size:
                  type: integer
                  description: File size in bytes
                  example: 245678
            media_url:
              type: string
              format: uri
              description: Convenience field with just the media URL (when has_media is true)
              example: https://api.kapso.ai/storage/media/abc123.jpg
            message_type_data:
              type: object
              description: Type-specific message data (structure varies by message type)
              additionalProperties: true
            flow_response:
              type: object
              description: Flow response data (for Flow messages)
              additionalProperties: true
            flow_token:
              type: string
              description: Flow session token (for Flow messages)
              example: user_session_abc123
            flow_name:
              type: string
              description: Flow display name (for Flow messages)
              example: Appointment Booking
            order_text:
              type: string
              description: Order text (for order messages)
              example: I'd like to order this item
    SendMessageResponse:
      type: object
      required:
        - messaging_product
        - contacts
        - messages
      properties:
        messaging_product:
          type: string
          enum:
            - whatsapp
          example: whatsapp
        contacts:
          type: array
          items:
            type: object
            properties:
              input:
                type: string
                description: Input phone number, BSUID, or parent BSUID
                example: "15551234567"
              wa_id:
                type: string
                nullable: true
                description: WhatsApp phone number when the message was sent to a phone number
                example: "15551234567"
              user_id:
                type: string
                nullable: true
                description: BSUID or parent BSUID when the message was sent to `recipient`
                example: US.13491208655302741918
        messages:
          type: array
          items:
            type: object
            required:
              - id
            properties:
              id:
                type: string
                description: Message ID
                example: wamid.HBgNMTU1NTE0OTU5Nzg1FQIAERgSMDhGRjdBMDEyOTcxQzFFQkFBAA==
              message_status:
                type: string
                enum:
                  - accepted
                  - held_for_quality_assessment
                description: Message pacing status when applicable
    WhatsappConversation:
      type: object
      required:
        - id
        - status
        - last_active_at
        - created_at
        - updated_at
        - whatsapp_config_id
        - phone_number_id
      properties:
        id:
          type: string
          description: Conversation ID (UUID)
          example: 123e4567-e89b-12d3-a456-426614174000
        phone_number:
          type: string
          nullable: true
          description: Contact's phone number (normalized). Can be null for BSUID-only identity.
          example: "15551234567"
        business_scoped_user_id:
          type: string
          nullable: true
          description: WhatsApp business-scoped user ID
          example: US.13491208655302741918
        parent_business_scoped_user_id:
          type: string
          nullable: true
          description: Parent business-scoped user ID when provided by Meta
          example: US.ENT.506847293015824
        username:
          type: string
          nullable: true
          description: WhatsApp username when available
          example: "@testusername"
        status:
          type: string
          enum:
            - active
            - ended
          description: Conversation status
          example: active
        last_active_at:
          type: string
          format: date-time
          description: Last activity timestamp
          example: 2024-01-15T14:30:00.000000Z
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
          example: 2024-01-15T10:00:00.000000Z
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
          example: 2024-01-15T14:30:00.000000Z
        whatsapp_config_id:
          type: string
          description: WhatsApp configuration ID (UUID)
          example: 456e7890-a12b-34c5-d678-901234567890
        metadata:
          type: object
          description: Custom metadata
          nullable: true
          additionalProperties: true
        phone_number_id:
          type: string
          description: WhatsApp Business Phone Number ID
          example: "110987654321"
        kapso:
          type: object
          description: Kapso-specific conversation metadata
          properties:
            contact_name:
              type: string
              nullable: true
              description: Contact display name
              example: John Doe
            messages_count:
              type: integer
              description: Total message count in conversation
              example: 15
            last_message_id:
              type: string
              nullable: true
              description: WhatsApp message ID of last message
              example: wamid.HBgNMTU1NTE0OTU5Nzg1FQIAERgSMDhGRjdBMDEyOTcxQzFFQkFBAA==
            last_message_type:
              type: string
              nullable: true
              description: Type of last message
              example: text
            last_message_timestamp:
              type: string
              format: date-time
              nullable: true
              description: Timestamp of last message (ISO 8601)
              example: 2024-01-15T14:30:00.000000Z
            last_message_text:
              type: string
              nullable: true
              description: Text content of last message (if text message)
              example: Hello! I need help with my order
            last_inbound_at:
              type: string
              format: date-time
              nullable: true
              description: Timestamp of last inbound message (ISO 8601)
              example: 2024-01-15T14:30:00.000000Z
            last_outbound_at:
              type: string
              format: date-time
              nullable: true
              description: Timestamp of last outbound message (ISO 8601)
              example: 2024-01-15T14:25:00.000000Z
    WhatsappCall:
      type: object
      required:
        - id
        - project_id
        - whatsapp_config_id
        - phone_number_id
      properties:
        id:
          type: string
          description: Call ID (UUID)
          example: 123e4567-e89b-12d3-a456-426614174000
        call_id:
          type: string
          description: WhatsApp call ID
          example: call_abc123
        direction:
          type: string
          enum:
            - inbound
            - outbound
          description: Call direction
          example: inbound
        status:
          type: string
          enum:
            - initiated
            - ringing
            - answered
            - completed
            - failed
          description: Call status
          example: completed
        duration_seconds:
          type: integer
          nullable: true
          description: Call duration in seconds
          example: 180
        started_at:
          type: string
          format: date-time
          nullable: true
          description: Call start time
          example: 2024-01-15T12:34:56.123456Z
        ended_at:
          type: string
          format: date-time
          nullable: true
          description: Call end time
          example: 2024-01-15T12:37:56.123456Z
        session_started_at:
          type: string
          format: date-time
          nullable: true
          description: Session start time
          example: 2024-01-15T12:34:58.123456Z
        created_at:
          type: string
          format: date-time
          description: Record creation timestamp
          example: 2024-01-15T12:34:56.000000Z
        updated_at:
          type: string
          format: date-time
          description: Record update timestamp
          example: 2024-01-15T12:37:56.000000Z
        user_wa_id:
          type: string
          nullable: true
          description: User's WhatsApp ID (phone number) when available
          example: "15551234567"
        business_scoped_user_id:
          type: string
          nullable: true
          description: User business-scoped user ID when available
          example: US.13491208655302741918
        parent_business_scoped_user_id:
          type: string
          nullable: true
          description: User parent business-scoped user ID when available
          example: US.ENT.506847293015824
        username:
          type: string
          nullable: true
          description: WhatsApp username when available
          example: "@testusername"
        whatsapp_contact_id:
          type: string
          nullable: true
          description: Associated contact ID (UUID)
          example: 223e4567-e89b-12d3-a456-426614174001
        whatsapp_conversation_id:
          type: string
          nullable: true
          description: Associated conversation ID (UUID)
          example: 323e4567-e89b-12d3-a456-426614174002
        project_id:
          type: string
          description: Project ID (UUID)
          example: 423e4567-e89b-12d3-a456-426614174003
        whatsapp_config_id:
          type: string
          description: WhatsApp configuration ID (UUID)
          example: 523e4567-e89b-12d3-a456-426614174004
        config_display_name:
          type: string
          nullable: true
          description: Configuration display name
          example: Support Line
        config_display_phone_number:
          type: string
          nullable: true
          description: Configuration display phone number
          example: +1 (555) 123-4567
        phone_number_id:
          type: string
          description: WhatsApp Business Phone Number ID
          example: "110987654321"
        whatsapp_contact:
          type: object
          nullable: true
          description: Associated contact (basic view)
          properties:
            id:
              type: string
            wa_id:
              type: string
            profile_name:
              type: string
            display_name:
              type: string
        whatsapp_conversation:
          type: object
          nullable: true
          description: Associated conversation (basic view)
          properties:
            id:
              type: string
            phone_number:
              type: string
            status:
              type: string
            last_active_at:
              type: string
              format: date-time
    FlowSummary:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        status:
          type: string
          enum:
            - DRAFT
            - PUBLISHED
            - DEPRECATED
            - BLOCKED
            - THROTTLED
        categories:
          type: array
          items:
            type: string
        validation_errors:
          type: array
          items:
            $ref: "#/components/schemas/FlowValidationError"
    FlowValidationError:
      type: object
      properties:
        error:
          type: string
        error_type:
          type: string
        message:
          type: string
        line_start:
          type: integer
        line_end:
          type: integer
        column_start:
          type: integer
        column_end:
          type: integer
    FlowCreateRequest:
      type: object
      required:
        - name
        - categories
      properties:
        name:
          type: string
        categories:
          type: array
          items:
            type: string
            enum:
              - SIGN_UP
              - SIGN_IN
              - APPOINTMENT_BOOKING
              - LEAD_GENERATION
              - CONTACT_US
              - CUSTOMER_SUPPORT
              - SURVEY
              - OTHER
        clone_flow_id:
          type: string
        endpoint_uri:
          type: string
          format: uri
        flow_json:
          type: string
        publish:
          type: boolean
    FlowCreateResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        validation_errors:
          type: array
          items:
            $ref: "#/components/schemas/FlowValidationError"
    PhoneNumberSummary:
      type: object
      properties:
        id:
          type: string
          description: Phone number ID
        verified_name:
          type: string
          description: Verified business name associated with the phone number
        display_phone_number:
          type: string
          description: Phone number in international format
        quality_rating:
          type: string
          enum:
            - GREEN
            - YELLOW
            - RED
            - NA
            - UNKNOWN
          description: |
            Quality rating based on message delivery.
            - GREEN: High quality
            - YELLOW: Medium quality
            - RED: Low quality
            - NA: Not yet determined
            - UNKNOWN: Status unknown
        code_verification_status:
          type: string
          description: Verification status of the phone number
        is_official_business_account:
          type: boolean
          description: Whether this is an official business account
        name_status:
          type: string
          description: Status of the business name
        new_name_status:
          type: string
          description: Status of pending name change
        platform_type:
          type: string
          description: Platform type (CLOUD_API, etc.)
        throughput:
          type: object
          description: Messaging throughput limits
        account_mode:
          type: string
          enum:
            - SANDBOX
            - LIVE
          description: Account mode
        certificate:
          type: string
          description: Certificate status
        messaging_limit_tier:
          type: string
          description: Current messaging limit tier
    BusinessVertical:
      type: string
      enum:
        - ALCOHOL
        - APPAREL
        - AUTO
        - BEAUTY
        - EDU
        - ENTERTAIN
        - EVENT_PLAN
        - FINANCE
        - GOVT
        - GROCERY
        - HEALTH
        - HOTEL
        - NONPROFIT
        - ONLINE_GAMBLING
        - OTC_DRUGS
        - OTHER
        - PHYSICAL_GAMBLING
        - PROF_SERVICES
        - RESTAURANT
        - RETAIL
        - TRAVEL
      description: |
        Business category displayed in WhatsApp profile:
        - ALCOHOL: Alcoholic Beverages
        - APPAREL: Clothing and Apparel
        - AUTO: Automotive
        - BEAUTY: Beauty, Spa and Salon
        - EDU: Education
        - ENTERTAIN: Entertainment
        - EVENT_PLAN: Event Planning and Service
        - FINANCE: Finance and Banking
        - GOVT: Public Service
        - GROCERY: Food and Grocery
        - HEALTH: Medical and Health
        - HOTEL: Hotel and Lodging
        - NONPROFIT: Non-profit
        - ONLINE_GAMBLING: Online Gambling & Gaming
        - OTC_DRUGS: Over-the-Counter Drugs
        - OTHER: Other
        - PHYSICAL_GAMBLING: Non-Online Gambling & Gaming
        - PROF_SERVICES: Professional Services
        - RESTAURANT: Restaurant
        - RETAIL: Shopping and Retail
        - TRAVEL: Travel and Transportation
    BusinessProfileUpdate:
      type: object
      required:
        - messaging_product
      properties:
        messaging_product:
          type: string
          enum:
            - whatsapp
          description: Always "whatsapp"
          example: whatsapp
        about:
          type: string
          minLength: 1
          maxLength: 139
          description: |
            Business About text (appears in profile beneath image and contact buttons).
            - Must be 1-139 characters
            - Rendered emojis supported (unicode values must be encoded)
            - Hyperlinks included but won't render as clickable
            - Markdown not supported
          example: Welcome to our store! We're here to help you 24/7.
        address:
          type: string
          maxLength: 256
          description: Business address (max 256 characters)
          example: 123 Main Street, San Francisco, CA 94102
        description:
          type: string
          maxLength: 512
          description: Business description (max 512 characters)
          example: Leading provider of premium products and services since 2010. We pride ourselves on exceptional customer service and quality.
        email:
          type: string
          format: email
          maxLength: 128
          description: Contact email address (max 128 characters)
          example: support@example.com
        profile_picture_handle:
          type: string
          description: Handle from resumable upload API for profile picture
          example: h:resumable-upload-handle-abc123xyz789
        vertical:
          $ref: "#/components/schemas/BusinessVertical"
        websites:
          type: array
          maxItems: 2
          items:
            type: string
            format: uri
            maxLength: 256
          description: URLs associated with business (max 2, 256 chars each, must include http:// or https://)
          example:
            - https://www.example.com
            - https://www.instagram.com/example
    BusinessProfileUpdateResponse:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          description: Whether the update succeeded
          example: true
paths:
  /{phone_number_id}/messages:
    parameters:
      - name: phone_number_id
        in: path
        required: true
        description: WhatsApp Business Phone Number ID
        schema:
          type: string
        example: "110987654321"
    get:
      tags:
        - Messages
      summary: List messages
      description: |
        Retrieve a paginated list of WhatsApp messages for a phone number.

        Supports filtering by conversation, direction, status, and time range.
        Uses cursor-based pagination for efficient scrolling through large result sets.
      operationId: listMessages
      parameters:
        - name: conversation_id
          in: query
          description: Filter by conversation ID
          schema:
            type: string
          example: 123e4567-e89b-12d3-a456-426614174000
        - name: direction
          in: query
          description: Filter by message direction
          schema:
            type: string
            enum:
              - inbound
              - outbound
          example: inbound
        - name: status
          in: query
          description: Filter by message status
          schema:
            type: string
            enum:
              - pending
              - sent
              - delivered
              - read
              - failed
          example: delivered
        - name: since
          in: query
          description: Filter messages created on or after this time (ISO 8601)
          schema:
            type: string
            format: date-time
          example: 2024-01-15T00:00:00Z
        - name: until
          in: query
          description: Filter messages created on or before this time (ISO 8601)
          schema:
            type: string
            format: date-time
          example: 2024-01-15T23:59:59Z
        - name: limit
          in: query
          description: Maximum number of results per page (default 20, max 100)
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          example: 20
        - name: before
          in: query
          description: Cursor for previous page (Base64 encoded)
          schema:
            type: string
          example: eyJ2YWx1ZXMiOlsiMjAyNC0wMS0xNVQxMjozNDo1Ni4xMjM0NTZaIiwiMTIzNDUiXSwiY29sdW1ucyI6WyJjcmVhdGVkX2F0IiwiaWQiXX0=
        - name: after
          in: query
          description: Cursor for next page (Base64 encoded)
          schema:
            type: string
          example: eyJ2YWx1ZXMiOlsiMjAyNC0wMS0xNFQwOToyMTozMi43ODkwMTJaIiwiMTIzMjAiXSwiY29sdW1ucyI6WyJjcmVhdGVkX2F0IiwiaWQiXX0=
        - name: fields
          in: query
          description: |
            Filter response fields. Use `kapso()` to include Kapso-specific extensions.

            Example: `fields=kapso(direction,status,processing_status)`
          schema:
            type: string
          example: kapso()
      responses:
        "200":
          description: Successfully retrieved messages
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/WhatsappMessageResponse"
                  paging:
                    $ref: "#/components/schemas/Paging"
              examples:
                inbound_text:
                  summary: Inbound text message
                  description: Basic text message from customer with core kapso fields
                  value:
                    data:
                      - id: wamid.HBgNMTU1NTE0OTU5Nzg1FQIAERgSMDhGRjdBMDEyOTcxQzFFQkFBAA==
                        timestamp: "1705328096"
                        type: text
                        from: "15551234567"
                        text:
                          body: Hello! I need help with my order
                        kapso:
                          direction: inbound
                          status: delivered
                          processing_status: completed
                          phone_number: "+15551234567"
                          has_media: false
                          whatsapp_conversation_id: 123e4567-e89b-12d3-a456-426614174000
                          contact_name: John Doe
                          content: Hello! I need help with my order
                    paging:
                      cursors:
                        after: eyJ2YWx1ZXMiOlsiMjAyNC0wMS0xNVQxMjozNDo1Ni4xMjM0NTZaIiwiMTIzNDUiXSwiY29sdW1ucyI6WyJjcmVhdGVkX2F0IiwiaWQiXX0=
                outbound_image:
                  summary: Outbound image with caption
                  description: Image message with media fields and type-specific data
                  value:
                    data:
                      - id: wamid.HBgNMTU1NTE0OTU5Nzg1FQIAERgSMDhGRjdBMDEyOTcxQzFFQkFCAA==
                        timestamp: "1705328150"
                        type: image
                        to: "15551234567"
                        image:
                          id: abc123def456
                          caption: Your order has been shipped!
                        kapso:
                          direction: outbound
                          status: sent
                          processing_status: completed
                          phone_number: "+15551234567"
                          has_media: true
                          whatsapp_conversation_id: 123e4567-e89b-12d3-a456-426614174000
                          contact_name: John Doe
                          media_data:
                            url: https://api.kapso.ai/storage/media/abc123.jpg
                            filename: package.jpg
                            content_type: image/jpeg
                            byte_size: 245678
                          media_url: https://api.kapso.ai/storage/media/abc123.jpg
                          message_type_data:
                            caption: Your order has been shipped!
                            has_media: true
                    paging:
                      cursors:
                        after: eyJ2YWx1ZXMiOlsiMjAyNC0wMS0xNVQxMjozNDo1Ni4xMjM0NTZaIiwiMTIzNDUiXSwiY29sdW1ucyI6WyJjcmVhdGVkX2F0IiwiaWQiXX0=
                template_message:
                  summary: Template message
                  description: Outbound template with template-specific kapso data
                  value:
                    data:
                      - id: wamid.HBgNMTU1NTE0OTU5Nzg1FQIAERgSMDhGRjdBMDEyOTcxQzFFQkFDAA==
                        timestamp: "1705328200"
                        type: template
                        to: "15551234567"
                        template:
                          name: order_confirmation
                          language:
                            code: en_US
                          components:
                            - type: body
                              parameters:
                                - type: text
                                  text: John
                                - type: text
                                  text: ORD-12345
                        kapso:
                          direction: outbound
                          status: delivered
                          processing_status: completed
                          phone_number: "+15551234567"
                          has_media: false
                          whatsapp_conversation_id: 123e4567-e89b-12d3-a456-426614174000
                          contact_name: John Doe
                          message_type_data:
                            name: order_confirmation
                            language:
                              code: en_US
                            params:
                              - John
                              - ORD-12345
                    paging:
                      cursors:
                        after: eyJ2YWx1ZXMiOlsiMjAyNC0wMS0xNVQxMjozNDo1Ni4xMjM0NTZaIiwiMTIzNDUiXSwiY29sdW1ucyI6WyJjcmVhdGVkX2F0IiwiaWQiXX0=
                interactive_message:
                  summary: Interactive button message
                  description: Interactive message with type-specific data
                  value:
                    data:
                      - id: wamid.HBgNMTU1NTE0OTU5Nzg1FQIAERgSMDhGRjdBMDEyOTcxQzFFQkFEAA==
                        timestamp: "1705328250"
                        type: interactive
                        to: "15551234567"
                        interactive:
                          type: button
                          body:
                            text: Would you like to proceed with your order?
                        kapso:
                          direction: outbound
                          status: sent
                          processing_status: completed
                          phone_number: "+15551234567"
                          has_media: false
                          whatsapp_conversation_id: 123e4567-e89b-12d3-a456-426614174000
                          contact_name: John Doe
                          message_type_data:
                            type: button
                            body_text: Would you like to proceed with your order?
                    paging:
                      cursors:
                        after: eyJ2YWx1ZXMiOlsiMjAyNC0wMS0xNVQxMjozNDo1Ni4xMjM0NTZaIiwiMTIzNDUiXSwiY29sdW1ucyI6WyJjcmVhdGVkX2F0IiwiaWQiXX0=
                location_message:
                  summary: Location share
                  description: Inbound location message with coordinates and details
                  value:
                    data:
                      - id: wamid.HBgNMTU1NTE0OTU5Nzg1FQIAERgSMDhGRjdBMDEyOTcxQzFFQkFFAA==
                        timestamp: "1705328300"
                        type: location
                        from: "15551234567"
                        location:
                          latitude: 37.7749
                          longitude: -122.4194
                          name: Warehouse Location
                          address: 123 Main St, San Francisco, CA
                        kapso:
                          direction: inbound
                          status: delivered
                          processing_status: completed
                          phone_number: "+15551234567"
                          has_media: false
                          whatsapp_conversation_id: 123e4567-e89b-12d3-a456-426614174000
                          contact_name: John Doe
                          message_type_data:
                            latitude: 37.7749
                            longitude: -122.4194
                            name: Warehouse Location
                            address: 123 Main St, San Francisco, CA
                    paging:
                      cursors:
                        after: eyJ2YWx1ZXMiOlsiMjAyNC0wMS0xNVQxMjozNDo1Ni4xMjM0NTZaIiwiMTIzNDUiXSwiY29sdW1ucyI6WyJjcmVhdGVkX2F0IiwiaWQiXX0=
        "400":
          description: Bad request (invalid parameters)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized (invalid or missing API key)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Phone number not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      tags:
        - Messages
      summary: Send a message
      description: |
        Send a WhatsApp message to a recipient.

        Use `to` for phone numbers. Use `recipient` for a BSUID or parent BSUID.
        If both are present, the phone number in `to` takes precedence.

        Supports all WhatsApp message types:
        - **text**: Plain text messages with optional URL preview
        - **image**: Images with optional caption
        - **video**: Videos with optional caption
        - **audio**: Audio files
        - **document**: Documents with optional caption and filename
        - **sticker**: Stickers
        - **location**: Location sharing
        - **contacts**: Contact cards
        - **interactive**: Interactive messages (buttons, lists, flows)
        - **template**: Message templates
        - **reaction**: Emoji reactions to messages

        On a [shared number](/docs/whatsapp/conversation-routing), regular messages need Kapso to handle
        the conversation. Templates can always be sent.
      operationId: sendMessage
      parameters:
        - name: X-Kapso-Take-Control
          in: header
          required: false
          description: |
            Shared numbers only. Set to `true` to send even though another app handles the
            conversation. Meta accepts it only when Kapso is your escalation app, and the send
            takes the conversation.
          schema:
            type: string
            enum:
              - "true"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/WhatsappMessage"
                - $ref: "#/components/schemas/MarkReadRequest"
            examples:
              text_message:
                summary: Send text message
                value:
                  messaging_product: whatsapp
                  recipient_type: individual
                  to: "15551234567"
                  type: text
                  text:
                    body: "Hello! Your order #12345 has been shipped."
              text_message_to_bsuid:
                summary: Send text message to BSUID
                description: Non-template messages require an open 24-hour customer service window.
                value:
                  messaging_product: whatsapp
                  recipient_type: individual
                  recipient: US.13491208655302741918
                  type: text
                  text:
                    body: "Hello! Your order #12345 has been shipped."
              template_to_bsuid:
                summary: Send template to BSUID
                value:
                  messaging_product: whatsapp
                  recipient_type: individual
                  recipient: US.13491208655302741918
                  type: template
                  template:
                    name: order_update
                    language:
                      code: en_US
              image_message:
                summary: Send image with caption
                value:
                  messaging_product: whatsapp
                  to: "15551234567"
                  type: image
                  image:
                    link: https://example.com/product.jpg
                    caption: Check out our new product!
              voice_message:
                summary: Send voice message (voice note)
                description: |-
                  Voice messages must be .ogg files encoded with OPUS codec.
                  Includes automatic download, profile picture, voice icon, and optional transcription.
                value:
                  messaging_product: whatsapp
                  to: "15551234567"
                  type: audio
                  audio:
                    id: "1013859600285441"
                    voice: true
              basic_audio_message:
                summary: Send basic audio message
                description: |-
                  Basic audio messages display a download icon and music icon.
                  Supports AAC, AMR, MP3, MP4, and OGG formats (max 16MB).
                value:
                  messaging_product: whatsapp
                  to: "15551234567"
                  type: audio
                  audio:
                    link: https://example.com/ringtone.mp3
              template_named_params:
                summary: Template with named parameters
                description: |
                  Named parameters allow flexible ordering and clearer intent.
                  Use `parameter_name` field to specify which variable to fill.
                value:
                  messaging_product: whatsapp
                  to: "15551234567"
                  type: template
                  template:
                    name: order_confirmation
                    language:
                      code: en_US
                    components:
                      - type: body
                        parameters:
                          - type: text
                            parameter_name: first_name
                            text: Jessica
                          - type: text
                            parameter_name: order_number
                            text: SKBUP2-4CPIG9
              template_positional_params:
                summary: Template with positional parameters
                description: |
                  Positional parameters must appear in order ({{1}}, {{2}}, etc.).
                  Order matters - first param fills {{1}}, second fills {{2}}.
                value:
                  messaging_product: whatsapp
                  to: "15551234567"
                  type: template
                  template:
                    name: order_confirmation
                    language:
                      code: en_US
                    components:
                      - type: body
                        parameters:
                          - type: text
                            text: Jessica
                          - type: text
                            text: SKBUP2-4CPIG9
              template_with_media_header:
                summary: Template with image header and named params
                description: |
                  Headers can include media (image/video/document).
                  Use media ID from upload endpoint or public URL.
                value:
                  messaging_product: whatsapp
                  to: "15551234567"
                  type: template
                  template:
                    name: seasonal_promotion
                    language:
                      code: en_US
                    components:
                      - type: header
                        parameters:
                          - type: image
                            image:
                              link: https://example.com/summer-sale.jpg
                      - type: body
                        parameters:
                          - type: text
                            parameter_name: sale_name
                            text: Summer Sale
                          - type: text
                            parameter_name: discount_code
                            text: SUMMER25
                          - type: text
                            parameter_name: discount_amount
                            text: 25%
              template_with_header_footer:
                summary: Template with text header and footer
                description: |
                  Text headers support 1 parameter (named or positional).
                  Footers are static text defined in template.
                value:
                  messaging_product: whatsapp
                  to: "15551234567"
                  type: template
                  template:
                    name: seasonal_promotion
                    language:
                      code: en_US
                    components:
                      - type: header
                        parameters:
                          - type: text
                            parameter_name: sale_name
                            text: Black Friday Sale
                      - type: body
                        parameters:
                          - type: text
                            parameter_name: end_date
                            text: November 30th
                          - type: text
                            parameter_name: discount_code
                            text: BF2024
              template_with_url_button:
                summary: Template with URL button variable
                description: |
                  URL buttons can have 1 variable at the end.
                  Use button component with sub_type URL and index.
                value:
                  messaging_product: whatsapp
                  to: "15551234567"
                  type: template
                  template:
                    name: limited_time_offer
                    language:
                      code: en_US
                    components:
                      - type: body
                        parameters:
                          - type: text
                            parameter_name: customer_name
                            text: Mark
                          - type: text
                            parameter_name: package_name
                            text: Premium Package
                      - type: button
                        sub_type: url
                        index: "0"
                        parameters:
                          - type: text
                            text: summer2024
              template_with_quick_reply:
                summary: Template with quick reply buttons
                description: |
                  Quick reply buttons use payload parameter.
                  Index determines button order (0-based).
                value:
                  messaging_product: whatsapp
                  to: "15551234567"
                  type: template
                  template:
                    name: customer_feedback
                    language:
                      code: en_US
                    components:
                      - type: body
                        parameters:
                          - type: text
                            parameter_name: customer_name
                            text: Sarah
                      - type: button
                        sub_type: quick_reply
                        index: "0"
                        parameters:
                          - type: payload
                            payload: yes_helpful
                      - type: button
                        sub_type: quick_reply
                        index: "1"
                        parameters:
                          - type: payload
                            payload: no_not_helpful
              template_with_flow:
                summary: Template with flow button
                description: |
                  Flow buttons trigger WhatsApp Flows.
                  Pass flow_token and flow_action_data as parameters.
                value:
                  messaging_product: whatsapp
                  to: "15551234567"
                  type: template
                  template:
                    name: appointment_booking
                    language:
                      code: en_US
                    components:
                      - type: body
                        parameters:
                          - type: text
                            parameter_name: customer_name
                            text: Michael
                      - type: button
                        sub_type: flow
                        index: "0"
                        parameters:
                          - type: action
                            action:
                              flow_token: user_session_abc123
                              flow_action_data:
                                customer_id: cust_12345
                                preferred_date: 2024-02-15
              interactive_button:
                summary: Send interactive button message
                value:
                  messaging_product: whatsapp
                  to: "15551234567"
                  type: interactive
                  interactive:
                    type: button
                    body:
                      text: Would you like to proceed with your order?
                    action:
                      buttons:
                        - type: reply
                          reply:
                            id: btn_yes
                            title: Yes
                        - type: reply
                          reply:
                            id: btn_no
                            title: No
              interactive_cta_url:
                summary: Interactive CTA URL button
                description: |-
                  Send a call-to-action button that opens a URL.
                  Useful for obscuring long tracking URLs.
                value:
                  messaging_product: whatsapp
                  to: "15551234567"
                  type: interactive
                  interactive:
                    type: cta_url
                    header:
                      type: text
                      text: New workshop dates announced!
                    body:
                      text: Tap the button below to see available dates.
                    footer:
                      text: Dates subject to change
                    action:
                      name: cta_url
                      parameters:
                        display_text: See Dates
                        url: https://example.com/workshops?utm_source=whatsapp
              interactive_order_details_pix:
                summary: Interactive order details with dynamic Pix
                description: |-
                  Send an order for the user to review and pay with Pix.
                  Requires a WhatsApp Business Account enabled for the Meta Brazil Payments API.
                value:
                  messaging_product: whatsapp
                  to: "5511999999999"
                  type: interactive
                  interactive:
                    type: order_details
                    body:
                      text: Order details
                    action:
                      name: review_and_pay
                      parameters:
                        reference_id: pix-order-123
                        type: digital-goods
                        payment_type: br
                        payment_settings:
                          - type: pix_dynamic_code
                            pix_dynamic_code:
                              code: 00020101021226820014br.gov.bcb.pix
                              merchant_name: Kapso Merchant
                              key: "12345678000199"
                              key_type: CNPJ
                        currency: BRL
                        total_amount:
                          value: 1000
                          offset: 100
                        order:
                          status: pending
                          tax:
                            value: 0
                            offset: 100
                          items:
                            - retailer_id: item-1
                              name: Subscription
                              amount:
                                value: 1000
                                offset: 100
                              quantity: 1
                          subtotal:
                            value: 1000
                            offset: 100
              interactive_order_status:
                summary: Interactive order status update
                description: |-
                  Update a previously sent order using the same reference_id.
                value:
                  messaging_product: whatsapp
                  to: "5511999999999"
                  type: interactive
                  interactive:
                    type: order_status
                    body:
                      text: Payment confirmed
                    action:
                      name: review_order
                      parameters:
                        reference_id: pix-order-123
                        order:
                          status: processing
                        payment:
                          status: captured
              interactive_carousel_url:
                summary: Interactive carousel with URL buttons
                description: |-
                  Send a free-form media carousel with 2-10 cards. Each card includes
                  an image or video header and a CTA URL button.
                value:
                  messaging_product: whatsapp
                  to: "15551234567"
                  type: interactive
                  interactive:
                    type: carousel
                    body:
                      text: Choose a trip option
                    action:
                      cards:
                        - card_index: 0
                          type: cta_url
                          header:
                            type: image
                            image:
                              link: https://example.com/flight-a.jpg
                          body:
                            text: Morning flight
                          action:
                            name: cta_url
                            parameters:
                              display_text: View
                              url: https://example.com/flights/a
                        - card_index: 1
                          type: cta_url
                          header:
                            type: image
                            image:
                              link: https://example.com/flight-b.jpg
                          body:
                            text: Evening flight
                          action:
                            name: cta_url
                            parameters:
                              display_text: View
                              url: https://example.com/flights/b
              interactive_carousel_quick_reply:
                summary: Interactive carousel with quick replies
                description: |-
                  Send a free-form media carousel where every card has the same
                  quick-reply button structure.
                value:
                  messaging_product: whatsapp
                  to: "15551234567"
                  type: interactive
                  interactive:
                    type: carousel
                    body:
                      text: Pick a product
                    action:
                      cards:
                        - card_index: 0
                          type: cta_url
                          header:
                            type: image
                            image:
                              link: https://example.com/product-a.jpg
                          action:
                            buttons:
                              - type: quick_reply
                                quick_reply:
                                  id: product_a_yes
                                  title: Select
                        - card_index: 1
                          type: cta_url
                          header:
                            type: image
                            image:
                              link: https://example.com/product-b.jpg
                          action:
                            buttons:
                              - type: quick_reply
                                quick_reply:
                                  id: product_b_yes
                                  title: Select
              interactive_list:
                summary: Interactive list message
                description: |-
                  Send a list picker with sections and rows.
[...]
